.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 12.188rem;
  position: relative;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1.125rem 0 1.125rem;
    font-size: 1rem;
    color: #757575;
    font-weight: 400;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border: 1.5px solid #cecece;
    box-sizing: border-box;
    border-radius: 8.9881px;

    &__placeholder {
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon {
        height: 16px;
        margin: 0;
        padding-right: 0.5rem;
      }
    }
  }

  &__list {
    &.type--basic {
      min-width: 12.188rem;
      top: 3.15rem;
      position: absolute;
      margin: 0;
      max-height: 16.25rem;
      border-radius: 10px;
      background-color: #fff;
      overflow-y: scroll;
      border: solid 1.5px #e0e0e0;
      color: #757575;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        width: 3px;
        border-radius: 4px;
        background-color: #c4c4c4;
      }

      &::-webkit-scrollbar-track {
        width: 3px;
        background-color: transparent;
        /* padding-left: 2px; */
      }
    }

    &.type--expand {
      align-self: flex-end;
      position: absolute;
      top: 3.15rem;
      margin: 0;
      min-width: 27.875rem;
      padding: 1.5rem 1.875rem 1.5rem 1.875rem;
      color: #757575;
      background-color: #fff;
      overflow-y: scroll;
      border: solid 1.5px #e0e0e0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      border-radius: 10px;

      span {
        font-weight: 500;
        font-size: 1rem;
        line-height: 23px;
        color: #757575;
      }

      .wrapper {
        padding-top: 0.625rem;
        display: flex;
        flex-flow: wrap;
      }
    }
  }

  &__list__item {
    &.type--basic {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding: 0.5rem 1.813rem 0.5rem 1.813rem;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #757575;
      font-weight: 400;
      cursor: pointer;
      height: 3rem;

      &:hover {
        background: #ebebeb;
      }
      &:focus {
        background-color: #ebebeb;
      }
    }

    &.type--expand {
      padding-right: 0.625rem;
      padding-top: 0.75rem;
    }
  }
}
