@import '~styles/_mixin.scss';

.letter {
  width: 100%;
  height: 291px;
  background-color: var(--background-2);
  display: flex;
  align-items: center;
  .inner {
    width: 68rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .letter__container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .letter__title {
        font-size: 32px;
        color: var(--gray-1);
        span {
          margin: 0 5px;
          font-weight: bold;
        }
      }
      .letter__desc {
        margin-top: 10px;
        font-size: 18px;
        color: var(--gray-1);
      }
      .image__container {
        position: relative;
        width: 146px;
        height: 109px;
      }
    }
  }
  .button__container {
    width: 200px;
    height: 42px;
  }
}

.break__line {
  display: none;
}

@include laptop {
  @media (max-width: 1075px) {
    .letter {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 271px;
      .inner {
        width: 60.75rem;
        .letter__container {
          .letter__title {
            font-size: 28px;
          }
          .letter__desc {
            font-size: 16px;
          }
          .image__container {
            width: 120px;
            height: 92px;
          }
        }
        .button__container {
          width: 200px;
          height: 42px;
        }
      }
    }
  }

  @media (max-width: 955px) {
    .letter {
      height: 211px;
      .inner {
        width: 52.75rem;
        .letter__container {
          .letter__title {
            font-size: 26px;
          }
          .letter__desc {
            font-size: 16px;
          }
          .image__container {
            width: 98px;
            height: 68px;
          }
        }
      }
      .button__container {
        width: 200px;
        height: 42px;
      }
    }
  }

  @media (max-width: 800px) {
    .letter {
      width: 100%;
      height: 197px;
      display: flex;
      align-items: flex-start;
      .inner {
        width: 46.75rem;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .letter__container {
          position: relative;
          .letter__title {
            white-space: wrap;
            font-size: 22px;
            line-height: 32px;
            font-weight: bold;
          }
          .break__line {
            display: block;
          }
          .letter__desc {
            font-size: 16px;
            font-weight: 500;
            color: var(--gray-2);
          }
          .image__container {
            position: absolute;
            width: 80px;
            height: 80px;
            top: 0;
            left: 50%;
            transform: translate(100%, -10%);
          }
        }
        .button__container {
          width: 200px;
          height: 42px;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translateY(-100%);
        }
      }
    }
  }
  @media (max-width: 700px) {
    .letter {
      width: 100%;
      height: 197px;
      display: flex;
      align-items: flex-start;
      .inner {
        width: 38.75rem;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .letter__container {
          position: relative;
          .letter__title {
            white-space: wrap;
            font-size: 22px;
            line-height: 32px;
            font-weight: bold;
          }
          .break__line {
            display: block;
          }
          .letter__desc {
            font-size: 16px;
            font-weight: 500;
            color: var(--gray-2);
          }
          .image__container {
            position: absolute;
            width: 80px;
            height: 80px;
            top: 0;
            left: 50%;
            transform: translate(100%, -10%);
          }
        }
        .button__container {
          width: 200px;
          height: 42px;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translateY(-100%);
        }
      }
    }
  }
}

@include tablet {
  .letter {
    width: 100%;
    height: 197px;
    display: flex;
    align-items: flex-start;
    .inner {
      width: 34.75rem;
      height: 100%;
      margin: 0 auto;
      position: relative;
      .letter__container {
        position: relative;
        .letter__title {
          white-space: wrap;
          font-size: 22px;
          line-height: 32px;
          font-weight: bold;
        }
        .break__line {
          display: block;
        }
        .letter__desc {
          font-size: 16px;
          font-weight: 500;
          color: var(--gray-2);
        }
        .image__container {
          position: absolute;
          width: 80px;
          height: 80px;
          top: 0;
          left: 50%;
          transform: translate(100%, -10%);
        }
      }
      .button__container {
        width: 200px;
        height: 42px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(-100%);
      }
    }
  }

  @media (max-width: 550px) {
    .letter {
      height: 197px;
      .inner {
        width: 30.75rem;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .letter__container {
          position: relative;
          .letter__title {
            font-size: 20px;
          }
          .letter__desc {
            font-size: 14px;
          }
        }
        .button__container {
          width: 190px;
          height: 40px;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translateY(-100%);
        }
      }
    }
  }

  @media (max-width: 500px) {
    .letter {
      height: 217px;
      .inner {
        width: 26.75rem;
        height: 100%;
        margin: 2rem auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .letter__container {
          position: relative;
          .letter__title {
            font-size: 20px;
          }
          .letter__desc {
            font-size: 14px;
          }
          .image__container {
            position: absolute;
            width: 70px;
            height: 70px;
            top: 0;
            right: 0;
            transform: translate(270%, 0);
          }
        }
        .button__container {
          width: 190px;
          height: 40px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .letter {
      width: 100%;
      height: 240px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .inner {
        width: 24.75rem;
        height: 100%;
        margin: 2rem auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .letter__container {
          position: relative;
          .letter__title {
            font-size: 20px;
          }
          .letter__desc {
            font-size: 14px;
          }
          .image__container {
            position: absolute;
            width: 70px;
            height: 70px;
            top: 0;
            right: 0;
            transform: translate(220%, 0);
          }
        }
        .button__container {
          width: 190px;
          height: 40px;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translateY(0);
        }
      }
    }
  }
  @media (max-width: 400px) {
    .letter {
      width: 100%;
      height: 240px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .inner {
        width: 22.75rem;
        height: 100%;
        margin: 2rem auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .letter__container {
          position: absolute;
          .letter__title {
            white-space: wrap;
            font-size: 20px;
            line-height: 28px;
            font-weight: bold;
            letter-spacing: -2%;
          }
          .break__line {
            display: block;
          }
          .letter__desc {
            font-size: 14px;
            font-weight: 500;
            color: var(--gray-2);
            letter-spacing: -0.8px;
          }
          .image__container {
            position: absolute;
            width: 70px;
            height: 70px;
            top: -7px;
            right: 0;
            transform: translate(200%, 0);
          }
        }
        .button__container {
          width: 190px;
          height: 40px;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translateY(0);
        }
      }
    }
  }
}

@include mobile {
  .letter {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .inner {
      width: 22.75rem;
      height: 100%;
      margin: 2rem auto;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .letter__container {
        .letter__title {
          white-space: wrap;
          font-size: 20px;
          line-height: 28px;
          font-weight: bold;
          letter-spacing: -2%;
        }
        .break__line {
          display: block;
        }
        .letter__desc {
          font-size: 14px;
          font-weight: 500;
          color: var(--gray-2);
          letter-spacing: -0.8px;
        }
        .image__container {
          position: absolute;
          width: 70px;
          height: 70px;
          top: -7px;
          right: 5%;
        }
      }
      .button__container {
        width: 190px;
        height: 40px;
        position: absolute;
        bottom: 0;
        right: 5%;
      }
    }
  }
}
