@import '~styles/_color.scss';
@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';

.letter {
  width: 100%;
  height: 290px;
  background-color: var(--background-2);
  display: flex;
  align-items: center;

  .inner {
    width: 100%;
    max-width: 68.75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .letter__container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      .letter__title {
        font-size: 32px;
        color: var(--gray-1);

        span {
          margin: 0 5px;
          font-weight: bold;
        }
      }

      .letter__desc {
        margin-top: 10px;
        font-size: 18px;
        color: var(--gray-1);
      }

      .image__container {
        position: relative;
        width: 146px;
        height: 109px;
      }
    }
  }
}

.break__line {
  display: none;
}

@media (max-width: 1200px) {
  .letter {
    .inner {
      padding: 0 $tablet_padding;
    }
  }
}

@media (max-width: 900px) {
  .letter {
    .inner {
      align-items: end;

      .letter__container {
        position: relative;

        .letter__title {
          font-size: 24px;
          font-weight: 600;

          span {
            font-weight: 600;
          }
        }

        .letter__desc {
          font-size: 16px;
          color: $light-gray-2;
        }

        .image__container {
          width: 64px;
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(200%, -25%);
        }
      }
    }
  }

  .break__line {
    display: block;
  }
}

@media (max-width: 600px) {
  .letter {
    height: inherit;
    position: relative;
    padding-top: 40px;
    padding-bottom: calc(40px + 48px);

    .inner {
      display: block;

      .letter__container {
        .image__container {
          height: 50px;
          position: absolute;
          top: 0;
          transform: inherit;
        }
      }
    }

    .button__container {
      margin-top: 24px;
      display: block;
      position: absolute;
      right: $tablet_padding;
      bottom: 32px;
    }
  }
}
