{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": [
    "react",
    "classnames",
    "@headlessui",
    "next",
    "jotai",
    "^@(.*)$",
    "^[./]"
  ]
}
