@import '~styles/_mixin.scss';

.modal {
  position: absolute;
  width: 30.563rem;
  height: 16.688rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.688rem;
    text-align: center;
    color: #171717;
  }

  &__desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.438rem;
    text-align: center;
    color: #171717;
    padding-top: 1.313rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.125rem;

    .wrapper {
      padding-left: 1.875rem;
    }
  }
}

@include mobile {
  .modal {
    position: absolute;
    width: 24.143rem;
    height: 16.688rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 2.688rem;
      text-align: center;
      color: #171717;
    }

    &__desc {
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1rem;
      text-align: center;
      color: #171717;
      padding-top: 1.313rem;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 2.125rem;

      .wrapper {
        padding-left: 1.1rem;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
