@import '~styles/_mixin.scss';

.modal {
  position: absolute;
  width: 45rem;
  min-height: 39rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1.813rem 1.688rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      align-self: flex-end;
      padding: 0px;
    }

    .button.hidden {
      visibility: hidden;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.25rem;
    text-align: center;
    color: #000000;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28.25rem;

    .login-form {
      width: 28.25rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          color: #535353;
          font-weight: 500;
          font-size: 0.95rem;
          line-height: 1.438rem;
          padding-bottom: 0.7rem;
        }

        .input {
          background: #ecf6ff;
          border-radius: 10px;
          border: none;
          width: 26rem;
          height: 3rem;
          padding-left: 1.375rem;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.438rem;
          color: #535353;

          .size--small {
            width: 23.5rem;
          }
          .size--regular {
            width: 30rem;
          }
        }
      }

      &__item:not(:first-child) {
        margin-top: 1rem;
      }

      &__button {
        padding: 0;
        margin: 0px;
        width: 26rem;
        height: 3.5rem;
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
          padding-left: 0.75rem;
          font-weight: 700;
          font-size: 1rem;
          line-height: 1.438rem;
          text-align: center;
          color: #000000;
        }

        &.kakao {
          background: #fae44d;
          border-radius: 16px;
          border: none;
        }
        &.google {
          background: #ffffff;
          border: 1.5px solid #d8d8d8;
          box-sizing: border-box;
        }
        &.github {
          background: #000000;
          border-radius: 16px;
          border: none;
          span {
            color: #ffffff;
          }
        }
        &.naver {
          background: #03c75a;
          border-radius: 16px;
          border: none;
          span {
            color: #ffffff;
          }
        }

        &.apple {
          background: #000000;
          border-radius: 16px;
          border: none;
          span {
            color: #ffffff;
          }
        }

        &.email {
          background: #ffffff;
          border: 1px solid #d8d8d8;
          border-radius: 12.64px;
          span {
            color: #000000;
          }
        }

        &.login {
          background: #479ef1;
          border-radius: 8px;
          border: none;
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          text-align: center;
          width: 26rem;
          span {
            color: #ffffff;
          }
        }

        &.signup {
          width: fit-content;
          height: fit-content;
          padding-top: 11px;
          padding-bottom: 30px;
          border: none;
          background-color: transparent;
          text-decoration-line: underline;
        }
      }

      &__button:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}
@include tablet {
  .modal {
    position: absolute;
    width: 43rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 1.813rem 1.688rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 28.25rem;

      .login-form {
        width: 28.25rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__button {
          padding: 0;
          margin: 0px;
          width: 26rem;
          height: 3.5rem;
          border-radius: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
}
@include mobile {
  .modal {
    position: absolute;
    width: 24.143rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 1.5rem 2.571rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__close-button {
      position: absolute;
      right: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      align-self: flex-end;
      width: 24px;
      height: 24px;
      padding: 0px;
      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 1.143rem;
      line-height: 151.8%;
      text-align: center;
      color: #000000;
      padding-top: 1rem;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 19.071rem;
      // height: 24.429rem;
      margin-top: 1rem;

      .login-form {
        width: 19.071rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__item {
          display: flex;
          flex-direction: column;
          justify-content: center;

          span {
            color: #535353;
            font-weight: 500;
            font-size: 0.95rem;
            line-height: 1.438rem;
            padding-bottom: 0.7rem;
          }

          .input {
            background: #ecf6ff;
            border-radius: 10px;
            border: none;
            width: 19.071rem;
            height: 2.857rem;
            padding-left: 1.375rem;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.438rem;
            color: #535353;

            .size--small {
              width: 23.5rem;
            }
            .size--regular {
              width: 30rem;
            }
          }
        }

        &__item:not(:first-child) {
          margin-top: 1rem;
        }

        &__button {
          padding: 0px;
          margin: 0px;
          width: 19.071rem;
          height: 2.857rem;
          border-radius: 12.64px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          span {
            padding-left: 0.714rem;
            font-weight: 700;
            font-size: 0.857rem;
            line-height: 17.38px;
            text-align: center;
            color: #000000;
          }

          &.kakao {
            background: #fae44d;
            border-radius: 12.64px;
            border: none;
          }
          &.google {
            background: #ffffff;
            border: 1.5px solid #d8d8d8;
            box-sizing: border-box;
          }
          &.github {
            background: #000000;
            border-radius: 12.64px;
            border: none;
            span {
              color: #ffffff;
            }
          }
          &.naver {
            background: #03c75a;
            border-radius: 12.64px;
            border: none;
            span {
              color: #ffffff;
            }
          }
          &.login {
            background: #479ef1;
            border-radius: 8px;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            text-align: center;
            width: 19.071rem;
            span {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
