@import '~styles/_mixin.scss';

.modal {
  position: absolute;
  top: 3.5rem;
  bottom: 2.5rem;
  width: 100%;
  height: 26vh;
  background-image: url('~public/default/search_background.svg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  min-width: 68.75rem;

  animation-name: appearIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .search-input {
      position: relative;
      width: 68.75rem;
      padding-left: 4.938rem;
      background-color: transparent;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 3px solid #eff0f5;
      outline: none;
      font-weight: 400;
      font-size: 2.75rem;
      line-height: 64px;
      color: #757575;
      background-image: url(../../../public/icon/search_outlined_large.svg);
      background-repeat: no-repeat;
      background-size: 33px;
      background-position-y: 15px;

      &::placeholder {
        color: #95969c;
      }
    }
  }
}
@include tablet {
  .modal {
    position: absolute;
    top: 3.5rem;
    bottom: 2.5rem;
    width: 100%;
    min-width: 48rem;
    height: 16.938rem;
    background-image: url('~public/default/search_background.svg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      .search-input {
        position: relative;
        min-width: 38.875rem;
        width: 80%;
        padding-left: 3.688rem;
        background-color: transparent;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1.13px solid #eff0f5;
        outline: none;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.875rem;
        color: #95969c;
        background-image: url(../../../public/icon/search_outlined_large.svg);
        background-repeat: no-repeat;
        background-size: 26px;
        background-position-y: 10px;
      }
    }
  }
}
@include mobile {
  .modal {
    position: absolute;
    top: 3.5rem;
    bottom: 2.5rem;
    width: 100%;
    min-width: 11.571rem;
    height: 204px;
    background-image: url('~public/default/search_background.svg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      .search-input {
        position: relative;
        min-width: 20rem;
        width: 80%;
        padding-left: 2.143rem;
        background-color: transparent;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1.13px solid #eff0f5;
        outline: none;
        font-weight: 400;
        font-size: 1.286rem;
        line-height: 1.857rem;
        color: #757575;
        background-image: url(../../../public/icon/search_outlined_large.svg);
        background-repeat: no-repeat;
        background-size: 17px;
        background-position-y: 4px;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

@keyframes appearIn {
  0% {
    height: 0px;
    opacity: 0%;
  }

  100% {
    height: 26vh;
    opacity: 100%;
  }
}
