.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 195px;
  position: relative;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 18px 0 18px;
    font-size: 14px;
    color: #757575;
    font-weight: 400;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border: 1.5px solid #cecece;
    box-sizing: border-box;
    border-radius: 8.9881px;

    &__placeholder {
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon {
        margin: 0;
        padding-right: 10px;
      }
    }
  }

  &__list {
    min-width: 195px;
    top: 50px;
    position: absolute;
    margin: 0;
    max-height: 260px;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: scroll;
    border: solid 1.5px #e0e0e0;
    color: #757575;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      width: 3px;
      border-radius: 4px;
      background-color: #c4c4c4;
    }

    &::-webkit-scrollbar-track {
      width: 3px;
      background-color: transparent;
      /* padding-left: 2px; */
    }

    &__item {
      padding-top: 8px;
      padding-bottom: 8px;
      padding: 8px 29px 8px 29px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      color: #757575;
      font-weight: 400;
      cursor: pointer;
      height: 48px;

      &:hover {
        background: #ebebeb;
      }
      &:focus {
        background-color: #ebebeb;
      }
    }
  }
}
