@import '~styles/_mixin.scss';

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1.125rem 0 1.125rem;
  font-size: 1rem;
  color: #757575;
  font-weight: 400;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid #5ea8ed;
  box-sizing: border-box;
  border-radius: 8.9881px;
  min-width: 12.1rem;

  .checkbox {
    height: 16px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
  }

  .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0066c6;
  }
}

.button:hover {
  background-color: #e6eff9;
}

@include mobile {
  .button {
    min-width: 5.786rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.429rem;
    padding: 0 0.6rem 0 0.6rem;
    font-size: 0.857rem;
    color: #757575;
    font-weight: 400;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border: 1.5px solid #cecece;
    box-sizing: border-box;
    border-radius: 7.48px;

    .checkbox {
      height: 14px;
      margin: 0px 8px 0px 0px;
    }

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 4px;
    }
  }
}
