@import '~styles/_mixin.scss';

.button {
  border: none;
  border-radius: 30px;
  cursor: pointer;

  &.size--large {
    padding: 0.938rem 3.625rem 1rem 3.625rem;
    height: 3.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.438rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.813rem;
    text-align: center;
  }

  &.size--regular {
    padding: 0.813rem 2.5rem 0.813rem 2.5rem;
    height: 3rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
}

// color
.primary {
  color: #ffffff;
  background: #479ef1;
}

.error {
  color: #ffffff;
  background: #cb1c1c;
}

@include mobile {
  .button.size--large {
    padding: 5px 9px;
    min-width: 100px;
    height: 25px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14.48px;
    text-align: center;
  }
}
