.button {
  background-color: transparent;
  color: rgb(46, 46, 46);
  border: none;
  cursor: pointer;
  text-decoration: underline;

  &.size--regular {
    padding: 10px 8px;
    font-size: 16px;
  }
}
