@import '~styles/_mixin.scss';

.button {
  box-sizing: border-box;
  border-radius: 30px;

  &.size--regular {
    padding: 0.813rem 2.5rem 0.813rem 2.5rem;
    height: 3rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    cursor: pointer;
  }
}

@include mobile {
  .button.size--regular {
    font-weight: 400;
    text-align: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

// color
.primary {
  color: #5ea8ed;
  border: 1px solid #5ea8ed;
  background-color: white;
}

.grey {
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  color: #000000;
}
