@import '~styles/_mixin.scss';

.button {
  background-color: transparent;
  color: rgb(46, 46, 46);
  border: none;
  cursor: pointer;
  color: #e8e8e8;

  &.size--regular {
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.438rem;
  }
}

@include mobile {
  .button.size--regular {
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.241rem;
  }
}
