.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 68.75rem;
  height: 10.938rem;
  padding-right: 1.875rem;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    &__img {
      background-color: #c4c4c4b2;
      width: 19.938rem;
      height: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      .mask {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 3rem;
      width: 38.063rem;
      height: 100%;
    }
    &__title {
      width: 38.063rem;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__desc {
      padding-top: 1.25rem;
      font-weight: 400;
      font-size: 1rem;
      line-height: 27px;
      color: #515151;
    }
    &__tags {
      justify-self: flex-end;
      padding-top: 1.813rem;
      display: flex;
      flex-direction: row;
      button {
        margin-right: 5px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding-top: 1.688rem;

    .like-button {
      border: none;
      background-color: transparent;
      width: 24px;
      height: 24px;
      cursor: pointer;

      &.--selected {
        path {
          // stroke: #0077e8;
          fill: #0077e8;
        }
      }

      &:hover {
        path {
          stroke: #0077e8;
          // fill: #0077e8;
        }
      }
    }

    .share-button {
      border: none;
      background-color: transparent;
      width: 24px;
      height: 24px;
      padding-top: 20px;
      cursor: pointer;

      &:hover {
        path {
          fill: #0077e8;
        }
      }
    }
  }
}

.item.item {
  margin-bottom: 10px;
}
