@import '~styles/_mixin.scss';

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 68.75rem;
  height: 11.25rem;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(0px);

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    position: relative;

    &__flag {
      width: 37px;
      height: 56px;
      position: absolute;
      top: 0px;
      left: 1.2rem;
      z-index: 2;

      animation-name: appearIn;
      animation-duration: 0.05s;
      animation-timing-function: linear;

      span {
        z-index: 3;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 0.89rem;
        color: #ffffff;
      }
      &.new {
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='58' viewBox='0 0 38 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H38V57.4419L19 48.6047L0 57.4419V0Z' fill='%239867D7'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
      &.my {
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='58' viewBox='0 0 38 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H38V57.4419L19 48.6047L0 57.4419V0Z' fill='%230077E8'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
      &.today {
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='58' viewBox='0 0 38 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H38V57.4419L19 48.6047L0 57.4419V0Z' fill='%23ED5E67'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &__img {
      width: 20rem;
      height: 11.25rem;
      position: relative;
      .mask {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    &__img--isDone {
      top: 0%;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(4px);
      position: absolute;
      z-index: 1;
      width: 20rem;
      height: 11.25rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      span {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.438rem;
        text-align: center;
        color: #ffffff;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 45.1rem;
      height: 100%;
      padding-left: 3rem;
      position: relative;
    }
    &__title {
      display: block;
      width: 38.063rem;
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__desc {
      display: block;
      padding-top: 13px;
      width: 38.063rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: #515151;
      &__dday {
        border: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-align: center;

        &--approach {
          background-color: #e17272;
          color: #fff;
          padding: 2px 5px 2px 5px;
          border-radius: 10px;
        }
        &--scheduled {
          background-color: #757575;
          color: #fff;
          padding: 2px 5px 2px 5px;
          border-radius: 10px;
        }
        &--ongoing {
          background-color: #6dc670;
          color: #fff;
          padding: 2px 5px 2px 5px;
          border-radius: 10px;
        }
      }
    }

    &__bottom {
      height: 28px;
      width: 100%;
      justify-self: flex-end;
      margin-top: 10px;
      position: relative;
      .tags {
        position: absolute;
        display: flex;
        flex-direction: row;
        button {
          margin-right: 5px;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding-top: 17px;
    position: relative;
    padding-right: 1.875rem;
    overflow: visible;

    .like-button {
      border: none;
      background-color: transparent;
      width: 24px;
      height: 24px;
      cursor: pointer;
      padding: 0px;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.49 6.81558L13.3155 6.46188L10.5089 0.77195L10.5086 0.7713C10.505 0.764053 10.4991 0.758122 10.4918 0.754555L10.491 0.754127C10.4817 0.74957 10.4718 0.74838 10.4595 0.752523C10.4475 0.756607 10.4389 0.76399 10.4333 0.774839C10.4332 0.775084 10.4331 0.775331 10.4329 0.775579L7.6281 6.46188L7.45363 6.81558L7.06334 6.87231L0.784883 7.78477L0.783083 7.78503C0.776621 7.78595 0.768851 7.78904 0.761173 7.79647C0.753866 7.80445 0.74986 7.81492 0.750004 7.82577C0.750153 7.83704 0.754772 7.8478 0.762845 7.85566L0.762893 7.85571L5.30544 12.2845L5.58776 12.5598L5.52107 12.9484L4.44788 19.2021L4.4477 19.2031C4.44643 19.2105 4.44724 19.2181 4.45006 19.225C4.45287 19.2319 4.45758 19.2379 4.46364 19.2424C4.4697 19.2468 4.47687 19.2494 4.48433 19.2499C4.49179 19.2504 4.49926 19.2489 4.50588 19.2454L4.50704 19.2448L10.1228 16.2922L10.4718 16.1087L10.8208 16.2922L16.4366 19.2448L16.44 19.2465C16.4409 19.247 16.4435 19.2482 16.4479 19.2489C16.4524 19.2496 16.457 19.2495 16.461 19.2488L16.4621 19.2486C16.486 19.2445 16.4993 19.2229 16.4958 19.2027L16.4958 19.2021L15.4226 12.9484L15.3559 12.5598L15.6382 12.2845L20.1793 7.85706C20.1794 7.85698 20.1795 7.85689 20.1796 7.8568L13.49 6.81558ZM13.49 6.81558L13.8803 6.87231M13.49 6.81558L13.8803 6.87231M13.8803 6.87231L20.1564 7.78443L13.8803 6.87231Z' stroke='%23757575' stroke-width='1.5'/%3E%3C/svg%3E");
      background-size: 21px 20px;
      background-repeat: no-repeat;
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.49 6.81558L13.3155 6.46188L10.5089 0.77195L10.5086 0.7713C10.505 0.764053 10.4991 0.758122 10.4918 0.754555L10.491 0.754127C10.4817 0.74957 10.4718 0.74838 10.4595 0.752523C10.4475 0.756607 10.4389 0.76399 10.4333 0.774839C10.4332 0.775084 10.4331 0.775331 10.4329 0.775579L7.6281 6.46188L7.45363 6.81558L7.06334 6.87231L0.784883 7.78477L0.783083 7.78503C0.776621 7.78595 0.768851 7.78904 0.761173 7.79647C0.753866 7.80445 0.74986 7.81492 0.750004 7.82577C0.750153 7.83704 0.754772 7.8478 0.762845 7.85566L0.762893 7.85571L5.30544 12.2845L5.58776 12.5598L5.52107 12.9484L4.44788 19.2021L4.4477 19.2031C4.44643 19.2105 4.44724 19.2181 4.45006 19.225C4.45287 19.2319 4.45758 19.2379 4.46364 19.2424C4.4697 19.2468 4.47687 19.2494 4.48433 19.2499C4.49179 19.2504 4.49926 19.2489 4.50588 19.2454L4.50704 19.2448L10.1228 16.2922L10.4718 16.1087L10.8208 16.2922L16.4366 19.2448L16.44 19.2465C16.4409 19.247 16.4435 19.2482 16.4479 19.2489C16.4524 19.2496 16.457 19.2495 16.461 19.2488L16.4621 19.2486C16.486 19.2445 16.4993 19.2229 16.4958 19.2027L16.4958 19.2021L15.4226 12.9484L15.3559 12.5598L15.6382 12.2845L20.1793 7.85706C20.1794 7.85698 20.1795 7.85689 20.1796 7.8568L13.49 6.81558ZM13.49 6.81558L13.8803 6.87231M13.49 6.81558L13.8803 6.87231M13.8803 6.87231L20.1564 7.78443L13.8803 6.87231Z' stroke='%230077e8' stroke-width='1.5'/%3E%3C/svg%3E");
        background-size: 21px 20px;
        background-repeat: no-repeat;
      }
      &.--selected {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='%230077e8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.49 6.81558L13.3155 6.46188L10.5089 0.77195L10.5086 0.7713C10.505 0.764053 10.4991 0.758122 10.4918 0.754555L10.491 0.754127C10.4817 0.74957 10.4718 0.74838 10.4595 0.752523C10.4475 0.756607 10.4389 0.76399 10.4333 0.774839C10.4332 0.775084 10.4331 0.775331 10.4329 0.775579L7.6281 6.46188L7.45363 6.81558L7.06334 6.87231L0.784883 7.78477L0.783083 7.78503C0.776621 7.78595 0.768851 7.78904 0.761173 7.79647C0.753866 7.80445 0.74986 7.81492 0.750004 7.82577C0.750153 7.83704 0.754772 7.8478 0.762845 7.85566L0.762893 7.85571L5.30544 12.2845L5.58776 12.5598L5.52107 12.9484L4.44788 19.2021L4.4477 19.2031C4.44643 19.2105 4.44724 19.2181 4.45006 19.225C4.45287 19.2319 4.45758 19.2379 4.46364 19.2424C4.4697 19.2468 4.47687 19.2494 4.48433 19.2499C4.49179 19.2504 4.49926 19.2489 4.50588 19.2454L4.50704 19.2448L10.1228 16.2922L10.4718 16.1087L10.8208 16.2922L16.4366 19.2448L16.44 19.2465C16.4409 19.247 16.4435 19.2482 16.4479 19.2489C16.4524 19.2496 16.457 19.2495 16.461 19.2488L16.4621 19.2486C16.486 19.2445 16.4993 19.2229 16.4958 19.2027L16.4958 19.2021L15.4226 12.9484L15.3559 12.5598L15.6382 12.2845L20.1793 7.85706C20.1794 7.85698 20.1795 7.85689 20.1796 7.8568L13.49 6.81558ZM13.49 6.81558L13.8803 6.87231M13.49 6.81558L13.8803 6.87231M13.8803 6.87231L20.1564 7.78443L13.8803 6.87231Z' stroke='%230077e8' stroke-width='1.5'/%3E%3C/svg%3E");
        background-size: 21px 20px;
        background-repeat: no-repeat;
      }
    }

    .share-button {
      border: none;
      background-color: transparent;
      width: 24px;
      height: 24px;
      margin-top: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9052 13.7897C15.4869 13.7913 15.0732 13.8773 14.689 14.0428C14.3049 14.2082 13.958 14.4495 13.6694 14.7523L6.09903 10.964C6.28525 10.3993 6.28525 9.78973 6.09903 9.22506L13.6819 5.36843C14.225 5.9408 14.9615 6.29077 15.7483 6.35032C16.5351 6.40988 17.316 6.17477 17.9391 5.69068C18.5622 5.2066 18.9831 4.50813 19.1199 3.73103C19.2567 2.95393 19.0997 2.15372 18.6794 1.48593C18.2591 0.818149 17.6055 0.330494 16.8456 0.117754C16.0858 -0.0949864 15.274 -0.0176129 14.5681 0.334835C13.8621 0.687283 13.3124 1.28963 13.0258 2.02479C12.7392 2.75995 12.7362 3.57541 13.0173 4.31267L5.50904 8.13204C5.10354 7.63611 4.55457 7.27773 3.9374 7.10604C3.32023 6.93435 2.66506 6.95774 2.0617 7.17301C1.45835 7.38828 0.936339 7.7849 0.567236 8.30848C0.198132 8.83207 0 9.457 0 10.0976C0 10.7382 0.198132 11.3631 0.567236 11.8867C0.936339 12.4103 1.45835 12.8069 2.0617 13.0222C2.66506 13.2375 3.32023 13.2609 3.9374 13.0892C4.55457 12.9175 5.10354 12.5591 5.50904 12.0632L12.9987 15.8329C12.8722 16.1727 12.807 16.5322 12.8062 16.8948C12.8062 17.509 12.9883 18.1093 13.3295 18.62C13.6707 19.1306 14.1557 19.5286 14.7231 19.7636C15.2905 19.9987 15.9148 20.0601 16.5172 19.9403C17.1195 19.8205 17.6728 19.5248 18.1071 19.0905C18.5413 18.6562 18.8371 18.103 18.9569 17.5006C19.0767 16.8983 19.0152 16.2739 18.7802 15.7065C18.5451 15.1391 18.1472 14.6542 17.6365 14.313C17.1259 13.9718 16.5255 13.7897 15.9114 13.7897H15.9052ZM15.9052 1.36897C16.2736 1.36897 16.6339 1.47824 16.9402 1.68296C17.2466 1.88768 17.4854 2.17866 17.6264 2.5191C17.7675 2.85953 17.8043 3.23414 17.7325 3.59555C17.6606 3.95696 17.4831 4.28893 17.2226 4.54949C16.962 4.81005 16.63 4.98749 16.2686 5.05938C15.9072 5.13127 15.5326 5.09437 15.1922 4.95336C14.8517 4.81234 14.5608 4.57355 14.356 4.26716C14.1513 3.96077 14.0421 3.60056 14.0421 3.23208C14.0421 2.73795 14.2383 2.26406 14.5877 1.91466C14.9371 1.56526 15.411 1.36897 15.9052 1.36897ZM3.15532 11.9266C2.78684 11.9266 2.42663 11.8173 2.12024 11.6126C1.81385 11.4078 1.57506 11.1169 1.43404 10.7764C1.29303 10.436 1.25613 10.0614 1.32802 9.69998C1.39991 9.33857 1.57735 9.0066 1.83791 8.74604C2.09847 8.48548 2.43044 8.30804 2.79185 8.23615C3.15326 8.16426 3.52787 8.20116 3.8683 8.34217C4.20874 8.48318 4.49972 8.72198 4.70444 9.02837C4.90916 9.33475 5.01843 9.69497 5.01843 10.0635C5.01843 10.5576 4.82214 11.0315 4.47274 11.3809C4.12334 11.7303 3.64945 11.9266 3.15532 11.9266ZM15.9052 18.7579C15.5367 18.7579 15.1765 18.6487 14.8701 18.4439C14.5637 18.2392 14.3249 17.9482 14.1839 17.6078C14.0429 17.2674 14.006 16.8928 14.0779 16.5314C14.1497 16.1699 14.3272 15.838 14.5877 15.5774C14.8483 15.3169 15.1803 15.1394 15.5417 15.0675C15.9031 14.9956 16.2777 15.0325 16.6181 15.1735C16.9586 15.3146 17.2495 15.5534 17.4543 15.8597C17.659 16.1661 17.7683 16.5263 17.7683 16.8948C17.7683 17.389 17.572 17.8628 17.2226 18.2122C16.8732 18.5616 16.3993 18.7579 15.9052 18.7579Z' fill='%23757575'/%3E%3C/svg%3E%0A");
      background-size: 21px 20px;
      background-repeat: no-repeat;
      padding: 0px;

      cursor: pointer;
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9052 13.7897C15.4869 13.7913 15.0732 13.8773 14.689 14.0428C14.3049 14.2082 13.958 14.4495 13.6694 14.7523L6.09903 10.964C6.28525 10.3993 6.28525 9.78973 6.09903 9.22506L13.6819 5.36843C14.225 5.9408 14.9615 6.29077 15.7483 6.35032C16.5351 6.40988 17.316 6.17477 17.9391 5.69068C18.5622 5.2066 18.9831 4.50813 19.1199 3.73103C19.2567 2.95393 19.0997 2.15372 18.6794 1.48593C18.2591 0.818149 17.6055 0.330494 16.8456 0.117754C16.0858 -0.0949864 15.274 -0.0176129 14.5681 0.334835C13.8621 0.687283 13.3124 1.28963 13.0258 2.02479C12.7392 2.75995 12.7362 3.57541 13.0173 4.31267L5.50904 8.13204C5.10354 7.63611 4.55457 7.27773 3.9374 7.10604C3.32023 6.93435 2.66506 6.95774 2.0617 7.17301C1.45835 7.38828 0.936339 7.7849 0.567236 8.30848C0.198132 8.83207 0 9.457 0 10.0976C0 10.7382 0.198132 11.3631 0.567236 11.8867C0.936339 12.4103 1.45835 12.8069 2.0617 13.0222C2.66506 13.2375 3.32023 13.2609 3.9374 13.0892C4.55457 12.9175 5.10354 12.5591 5.50904 12.0632L12.9987 15.8329C12.8722 16.1727 12.807 16.5322 12.8062 16.8948C12.8062 17.509 12.9883 18.1093 13.3295 18.62C13.6707 19.1306 14.1557 19.5286 14.7231 19.7636C15.2905 19.9987 15.9148 20.0601 16.5172 19.9403C17.1195 19.8205 17.6728 19.5248 18.1071 19.0905C18.5413 18.6562 18.8371 18.103 18.9569 17.5006C19.0767 16.8983 19.0152 16.2739 18.7802 15.7065C18.5451 15.1391 18.1472 14.6542 17.6365 14.313C17.1259 13.9718 16.5255 13.7897 15.9114 13.7897H15.9052ZM15.9052 1.36897C16.2736 1.36897 16.6339 1.47824 16.9402 1.68296C17.2466 1.88768 17.4854 2.17866 17.6264 2.5191C17.7675 2.85953 17.8043 3.23414 17.7325 3.59555C17.6606 3.95696 17.4831 4.28893 17.2226 4.54949C16.962 4.81005 16.63 4.98749 16.2686 5.05938C15.9072 5.13127 15.5326 5.09437 15.1922 4.95336C14.8517 4.81234 14.5608 4.57355 14.356 4.26716C14.1513 3.96077 14.0421 3.60056 14.0421 3.23208C14.0421 2.73795 14.2383 2.26406 14.5877 1.91466C14.9371 1.56526 15.411 1.36897 15.9052 1.36897ZM3.15532 11.9266C2.78684 11.9266 2.42663 11.8173 2.12024 11.6126C1.81385 11.4078 1.57506 11.1169 1.43404 10.7764C1.29303 10.436 1.25613 10.0614 1.32802 9.69998C1.39991 9.33857 1.57735 9.0066 1.83791 8.74604C2.09847 8.48548 2.43044 8.30804 2.79185 8.23615C3.15326 8.16426 3.52787 8.20116 3.8683 8.34217C4.20874 8.48318 4.49972 8.72198 4.70444 9.02837C4.90916 9.33475 5.01843 9.69497 5.01843 10.0635C5.01843 10.5576 4.82214 11.0315 4.47274 11.3809C4.12334 11.7303 3.64945 11.9266 3.15532 11.9266ZM15.9052 18.7579C15.5367 18.7579 15.1765 18.6487 14.8701 18.4439C14.5637 18.2392 14.3249 17.9482 14.1839 17.6078C14.0429 17.2674 14.006 16.8928 14.0779 16.5314C14.1497 16.1699 14.3272 15.838 14.5877 15.5774C14.8483 15.3169 15.1803 15.1394 15.5417 15.0675C15.9031 14.9956 16.2777 15.0325 16.6181 15.1735C16.9586 15.3146 17.2495 15.5534 17.4543 15.8597C17.659 16.1661 17.7683 16.5263 17.7683 16.8948C17.7683 17.389 17.572 17.8628 17.2226 18.2122C16.8732 18.5616 16.3993 18.7579 15.9052 18.7579Z' fill='%230077e8'/%3E%3C/svg%3E%0A");
        background-size: 21px 20px;
        background-repeat: no-repeat;
      }
      &:focus {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9052 13.7897C15.4869 13.7913 15.0732 13.8773 14.689 14.0428C14.3049 14.2082 13.958 14.4495 13.6694 14.7523L6.09903 10.964C6.28525 10.3993 6.28525 9.78973 6.09903 9.22506L13.6819 5.36843C14.225 5.9408 14.9615 6.29077 15.7483 6.35032C16.5351 6.40988 17.316 6.17477 17.9391 5.69068C18.5622 5.2066 18.9831 4.50813 19.1199 3.73103C19.2567 2.95393 19.0997 2.15372 18.6794 1.48593C18.2591 0.818149 17.6055 0.330494 16.8456 0.117754C16.0858 -0.0949864 15.274 -0.0176129 14.5681 0.334835C13.8621 0.687283 13.3124 1.28963 13.0258 2.02479C12.7392 2.75995 12.7362 3.57541 13.0173 4.31267L5.50904 8.13204C5.10354 7.63611 4.55457 7.27773 3.9374 7.10604C3.32023 6.93435 2.66506 6.95774 2.0617 7.17301C1.45835 7.38828 0.936339 7.7849 0.567236 8.30848C0.198132 8.83207 0 9.457 0 10.0976C0 10.7382 0.198132 11.3631 0.567236 11.8867C0.936339 12.4103 1.45835 12.8069 2.0617 13.0222C2.66506 13.2375 3.32023 13.2609 3.9374 13.0892C4.55457 12.9175 5.10354 12.5591 5.50904 12.0632L12.9987 15.8329C12.8722 16.1727 12.807 16.5322 12.8062 16.8948C12.8062 17.509 12.9883 18.1093 13.3295 18.62C13.6707 19.1306 14.1557 19.5286 14.7231 19.7636C15.2905 19.9987 15.9148 20.0601 16.5172 19.9403C17.1195 19.8205 17.6728 19.5248 18.1071 19.0905C18.5413 18.6562 18.8371 18.103 18.9569 17.5006C19.0767 16.8983 19.0152 16.2739 18.7802 15.7065C18.5451 15.1391 18.1472 14.6542 17.6365 14.313C17.1259 13.9718 16.5255 13.7897 15.9114 13.7897H15.9052ZM15.9052 1.36897C16.2736 1.36897 16.6339 1.47824 16.9402 1.68296C17.2466 1.88768 17.4854 2.17866 17.6264 2.5191C17.7675 2.85953 17.8043 3.23414 17.7325 3.59555C17.6606 3.95696 17.4831 4.28893 17.2226 4.54949C16.962 4.81005 16.63 4.98749 16.2686 5.05938C15.9072 5.13127 15.5326 5.09437 15.1922 4.95336C14.8517 4.81234 14.5608 4.57355 14.356 4.26716C14.1513 3.96077 14.0421 3.60056 14.0421 3.23208C14.0421 2.73795 14.2383 2.26406 14.5877 1.91466C14.9371 1.56526 15.411 1.36897 15.9052 1.36897ZM3.15532 11.9266C2.78684 11.9266 2.42663 11.8173 2.12024 11.6126C1.81385 11.4078 1.57506 11.1169 1.43404 10.7764C1.29303 10.436 1.25613 10.0614 1.32802 9.69998C1.39991 9.33857 1.57735 9.0066 1.83791 8.74604C2.09847 8.48548 2.43044 8.30804 2.79185 8.23615C3.15326 8.16426 3.52787 8.20116 3.8683 8.34217C4.20874 8.48318 4.49972 8.72198 4.70444 9.02837C4.90916 9.33475 5.01843 9.69497 5.01843 10.0635C5.01843 10.5576 4.82214 11.0315 4.47274 11.3809C4.12334 11.7303 3.64945 11.9266 3.15532 11.9266ZM15.9052 18.7579C15.5367 18.7579 15.1765 18.6487 14.8701 18.4439C14.5637 18.2392 14.3249 17.9482 14.1839 17.6078C14.0429 17.2674 14.006 16.8928 14.0779 16.5314C14.1497 16.1699 14.3272 15.838 14.5877 15.5774C14.8483 15.3169 15.1803 15.1394 15.5417 15.0675C15.9031 14.9956 16.2777 15.0325 16.6181 15.1735C16.9586 15.3146 17.2495 15.5534 17.4543 15.8597C17.659 16.1661 17.7683 16.5263 17.7683 16.8948C17.7683 17.389 17.572 17.8628 17.2226 18.2122C16.8732 18.5616 16.3993 18.7579 15.9052 18.7579Z' fill='%230077e8'/%3E%3C/svg%3E%0A");
        background-size: 21px 20px;
        background-repeat: no-repeat;
      }
    }

    .share-modal {
      position: absolute;
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      top: 95px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      border: solid 1px #e0e0e0;
      width: 376px;
      padding: 15px 10px 15px 10px;

      animation-name: appearIn;
      animation-duration: 0.2s;
      animation-timing-function: linear;

      &__link {
        width: 300px;
        min-height: 37px;
        padding: 9px 10px 9px 10px;
        word-break: break-all;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ecf6ff;
        border: none;
        outline: none;
      }
      &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 7px 7px 7px 7px;
        border: 1.5px solid #ecf6ff;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
}

@include tablet {
  .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 43rem;
    width: 100%;
    height: 11.25rem;
    background: #ffffff;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(0px);

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      position: relative;

      &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 30rem; //calc(100% - 20rem);
        height: 100%;
        padding-left: 3rem;
        position: relative;
        padding: 10px 0px 10px 3rem;
      }
      &__title {
        width: 100%;
        font-weight: 700;
        font-size: 15px;
        color: #000000;
        text-align: left;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
      &__desc {
        padding-top: 8px;
        width: 100%;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #515151;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
      }

      &__img {
        width: 20rem;
        height: 11.25rem;
        position: relative;
        .mask {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      &__img--isDone {
        top: 0%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        position: absolute;
        z-index: 1;
        min-width: 20rem;
        height: 11.25rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        span {
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.438rem;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}

@include mobile {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 11.571rem;
    min-height: 17.847rem;
    height: auto;
    transform: translateY(0px);

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: auto;
      position: relative;

      &__flag {
        width: 31px;
        height: 50px;
        position: absolute;
        top: 0px;
        left: 0.9rem;
        z-index: 2;

        animation-name: appearIn;
        animation-duration: 0.05s;
        animation-timing-function: linear;

        span {
          z-index: 3;
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 0.7rem;
          color: #ffffff;
        }
      }

      &__img {
        width: 100%;
        min-width: 11.571rem;
        height: auto;
        position: relative;
        .mask {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0px;
        }

        &--isDone {
          top: 0%;
          background-color: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(4px);
          position: absolute;
          z-index: 1;
          min-width: 11.571rem;
          width: 100%;
          height: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          span {
            font-weight: 500;
            font-size: 0.786rem;
            line-height: 167.3%;
            text-align: center;
            color: #ffffff;
          }
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-left: 1.071rem;
        padding-right: 0.929rem;
        // padding-bottom: 1rem;
        position: relative;
      }

      &__title {
        width: 100%;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        text-align: left;
        padding-top: 1rem;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
      &__desc {
        padding-top: 8px;
        width: 100%;
        font-weight: 400;
        font-size: 11px;
        line-height: 18.4px;
        color: #515151;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;

        &__dday {
          border: none;
          font-weight: 700;
          font-size: 9px;
          line-height: 16px;
          text-align: center;

          &--approach {
            background-color: #e17272;
            color: #fff;
            padding: 2px 5px 2px 5px;
            border-radius: 10px;
          }
          &--scheduled {
            background-color: #757575;
            color: #fff;
            padding: 2px 5px 2px 5px;
            border-radius: 10px;
          }
          &--ongoing {
            background-color: #6dc670;
            color: #fff;
            padding: 2px 5px 2px 5px;
            border-radius: 10px;
          }
        }
      }

      &__bottom {
        margin-top: 8px;
        height: 20px;
        width: 100%;
        align-self: flex-end;
        position: relative;
        overflow: hidden;

        .tags {
          position: absolute;
          display: flex;
          flex-direction: row;
        }
      }
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-self: flex-end;
      position: relative;
      overflow: visible;
      padding: 8px 1.071rem 14px 0.929rem;
      width: 100%;
      .like-button {
        border: none;
        background-color: transparent;
        width: 18px;
        height: 18px;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.49 6.81558L13.3155 6.46188L10.5089 0.77195L10.5086 0.7713C10.505 0.764053 10.4991 0.758122 10.4918 0.754555L10.491 0.754127C10.4817 0.74957 10.4718 0.74838 10.4595 0.752523C10.4475 0.756607 10.4389 0.76399 10.4333 0.774839C10.4332 0.775084 10.4331 0.775331 10.4329 0.775579L7.6281 6.46188L7.45363 6.81558L7.06334 6.87231L0.784883 7.78477L0.783083 7.78503C0.776621 7.78595 0.768851 7.78904 0.761173 7.79647C0.753866 7.80445 0.74986 7.81492 0.750004 7.82577C0.750153 7.83704 0.754772 7.8478 0.762845 7.85566L0.762893 7.85571L5.30544 12.2845L5.58776 12.5598L5.52107 12.9484L4.44788 19.2021L4.4477 19.2031C4.44643 19.2105 4.44724 19.2181 4.45006 19.225C4.45287 19.2319 4.45758 19.2379 4.46364 19.2424C4.4697 19.2468 4.47687 19.2494 4.48433 19.2499C4.49179 19.2504 4.49926 19.2489 4.50588 19.2454L4.50704 19.2448L10.1228 16.2922L10.4718 16.1087L10.8208 16.2922L16.4366 19.2448L16.44 19.2465C16.4409 19.247 16.4435 19.2482 16.4479 19.2489C16.4524 19.2496 16.457 19.2495 16.461 19.2488L16.4621 19.2486C16.486 19.2445 16.4993 19.2229 16.4958 19.2027L16.4958 19.2021L15.4226 12.9484L15.3559 12.5598L15.6382 12.2845L20.1793 7.85706C20.1794 7.85698 20.1795 7.85689 20.1796 7.8568L13.49 6.81558ZM13.49 6.81558L13.8803 6.87231M13.49 6.81558L13.8803 6.87231M13.8803 6.87231L20.1564 7.78443L13.8803 6.87231Z' stroke='%23757575' stroke-width='1.5'/%3E%3C/svg%3E");
        background-size: 18px 18px;
        background-repeat: no-repeat;
        &:hover {
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.49 6.81558L13.3155 6.46188L10.5089 0.77195L10.5086 0.7713C10.505 0.764053 10.4991 0.758122 10.4918 0.754555L10.491 0.754127C10.4817 0.74957 10.4718 0.74838 10.4595 0.752523C10.4475 0.756607 10.4389 0.76399 10.4333 0.774839C10.4332 0.775084 10.4331 0.775331 10.4329 0.775579L7.6281 6.46188L7.45363 6.81558L7.06334 6.87231L0.784883 7.78477L0.783083 7.78503C0.776621 7.78595 0.768851 7.78904 0.761173 7.79647C0.753866 7.80445 0.74986 7.81492 0.750004 7.82577C0.750153 7.83704 0.754772 7.8478 0.762845 7.85566L0.762893 7.85571L5.30544 12.2845L5.58776 12.5598L5.52107 12.9484L4.44788 19.2021L4.4477 19.2031C4.44643 19.2105 4.44724 19.2181 4.45006 19.225C4.45287 19.2319 4.45758 19.2379 4.46364 19.2424C4.4697 19.2468 4.47687 19.2494 4.48433 19.2499C4.49179 19.2504 4.49926 19.2489 4.50588 19.2454L4.50704 19.2448L10.1228 16.2922L10.4718 16.1087L10.8208 16.2922L16.4366 19.2448L16.44 19.2465C16.4409 19.247 16.4435 19.2482 16.4479 19.2489C16.4524 19.2496 16.457 19.2495 16.461 19.2488L16.4621 19.2486C16.486 19.2445 16.4993 19.2229 16.4958 19.2027L16.4958 19.2021L15.4226 12.9484L15.3559 12.5598L15.6382 12.2845L20.1793 7.85706C20.1794 7.85698 20.1795 7.85689 20.1796 7.8568L13.49 6.81558ZM13.49 6.81558L13.8803 6.87231M13.49 6.81558L13.8803 6.87231M13.8803 6.87231L20.1564 7.78443L13.8803 6.87231Z' stroke='%230077e8' stroke-width='1.5'/%3E%3C/svg%3E");
          background-size: 18px 18px;
          background-repeat: no-repeat;
        }
        &:focus {
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.49 6.81558L13.3155 6.46188L10.5089 0.77195L10.5086 0.7713C10.505 0.764053 10.4991 0.758122 10.4918 0.754555L10.491 0.754127C10.4817 0.74957 10.4718 0.74838 10.4595 0.752523C10.4475 0.756607 10.4389 0.76399 10.4333 0.774839C10.4332 0.775084 10.4331 0.775331 10.4329 0.775579L7.6281 6.46188L7.45363 6.81558L7.06334 6.87231L0.784883 7.78477L0.783083 7.78503C0.776621 7.78595 0.768851 7.78904 0.761173 7.79647C0.753866 7.80445 0.74986 7.81492 0.750004 7.82577C0.750153 7.83704 0.754772 7.8478 0.762845 7.85566L0.762893 7.85571L5.30544 12.2845L5.58776 12.5598L5.52107 12.9484L4.44788 19.2021L4.4477 19.2031C4.44643 19.2105 4.44724 19.2181 4.45006 19.225C4.45287 19.2319 4.45758 19.2379 4.46364 19.2424C4.4697 19.2468 4.47687 19.2494 4.48433 19.2499C4.49179 19.2504 4.49926 19.2489 4.50588 19.2454L4.50704 19.2448L10.1228 16.2922L10.4718 16.1087L10.8208 16.2922L16.4366 19.2448L16.44 19.2465C16.4409 19.247 16.4435 19.2482 16.4479 19.2489C16.4524 19.2496 16.457 19.2495 16.461 19.2488L16.4621 19.2486C16.486 19.2445 16.4993 19.2229 16.4958 19.2027L16.4958 19.2021L15.4226 12.9484L15.3559 12.5598L15.6382 12.2845L20.1793 7.85706C20.1794 7.85698 20.1795 7.85689 20.1796 7.8568L13.49 6.81558ZM13.49 6.81558L13.8803 6.87231M13.49 6.81558L13.8803 6.87231M13.8803 6.87231L20.1564 7.78443L13.8803 6.87231Z' stroke='%230077e8' stroke-width='1.5'/%3E%3C/svg%3E");
          background-size: 18px 18px;
          background-repeat: no-repeat;
        }
        &.--selected {
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='%230077e8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.49 6.81558L13.3155 6.46188L10.5089 0.77195L10.5086 0.7713C10.505 0.764053 10.4991 0.758122 10.4918 0.754555L10.491 0.754127C10.4817 0.74957 10.4718 0.74838 10.4595 0.752523C10.4475 0.756607 10.4389 0.76399 10.4333 0.774839C10.4332 0.775084 10.4331 0.775331 10.4329 0.775579L7.6281 6.46188L7.45363 6.81558L7.06334 6.87231L0.784883 7.78477L0.783083 7.78503C0.776621 7.78595 0.768851 7.78904 0.761173 7.79647C0.753866 7.80445 0.74986 7.81492 0.750004 7.82577C0.750153 7.83704 0.754772 7.8478 0.762845 7.85566L0.762893 7.85571L5.30544 12.2845L5.58776 12.5598L5.52107 12.9484L4.44788 19.2021L4.4477 19.2031C4.44643 19.2105 4.44724 19.2181 4.45006 19.225C4.45287 19.2319 4.45758 19.2379 4.46364 19.2424C4.4697 19.2468 4.47687 19.2494 4.48433 19.2499C4.49179 19.2504 4.49926 19.2489 4.50588 19.2454L4.50704 19.2448L10.1228 16.2922L10.4718 16.1087L10.8208 16.2922L16.4366 19.2448L16.44 19.2465C16.4409 19.247 16.4435 19.2482 16.4479 19.2489C16.4524 19.2496 16.457 19.2495 16.461 19.2488L16.4621 19.2486C16.486 19.2445 16.4993 19.2229 16.4958 19.2027L16.4958 19.2021L15.4226 12.9484L15.3559 12.5598L15.6382 12.2845L20.1793 7.85706C20.1794 7.85698 20.1795 7.85689 20.1796 7.8568L13.49 6.81558ZM13.49 6.81558L13.8803 6.87231M13.49 6.81558L13.8803 6.87231M13.8803 6.87231L20.1564 7.78443L13.8803 6.87231Z' stroke='%230077e8' stroke-width='1.5'/%3E%3C/svg%3E");
          background-size: 18px 18px;
          background-repeat: no-repeat;
        }
      }

      .share-button {
        border: none;
        background-color: transparent;
        width: 18px;
        height: 18px;
        margin: 0px 0px 0px 8px;
        padding: 0px;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9052 13.7897C15.4869 13.7913 15.0732 13.8773 14.689 14.0428C14.3049 14.2082 13.958 14.4495 13.6694 14.7523L6.09903 10.964C6.28525 10.3993 6.28525 9.78973 6.09903 9.22506L13.6819 5.36843C14.225 5.9408 14.9615 6.29077 15.7483 6.35032C16.5351 6.40988 17.316 6.17477 17.9391 5.69068C18.5622 5.2066 18.9831 4.50813 19.1199 3.73103C19.2567 2.95393 19.0997 2.15372 18.6794 1.48593C18.2591 0.818149 17.6055 0.330494 16.8456 0.117754C16.0858 -0.0949864 15.274 -0.0176129 14.5681 0.334835C13.8621 0.687283 13.3124 1.28963 13.0258 2.02479C12.7392 2.75995 12.7362 3.57541 13.0173 4.31267L5.50904 8.13204C5.10354 7.63611 4.55457 7.27773 3.9374 7.10604C3.32023 6.93435 2.66506 6.95774 2.0617 7.17301C1.45835 7.38828 0.936339 7.7849 0.567236 8.30848C0.198132 8.83207 0 9.457 0 10.0976C0 10.7382 0.198132 11.3631 0.567236 11.8867C0.936339 12.4103 1.45835 12.8069 2.0617 13.0222C2.66506 13.2375 3.32023 13.2609 3.9374 13.0892C4.55457 12.9175 5.10354 12.5591 5.50904 12.0632L12.9987 15.8329C12.8722 16.1727 12.807 16.5322 12.8062 16.8948C12.8062 17.509 12.9883 18.1093 13.3295 18.62C13.6707 19.1306 14.1557 19.5286 14.7231 19.7636C15.2905 19.9987 15.9148 20.0601 16.5172 19.9403C17.1195 19.8205 17.6728 19.5248 18.1071 19.0905C18.5413 18.6562 18.8371 18.103 18.9569 17.5006C19.0767 16.8983 19.0152 16.2739 18.7802 15.7065C18.5451 15.1391 18.1472 14.6542 17.6365 14.313C17.1259 13.9718 16.5255 13.7897 15.9114 13.7897H15.9052ZM15.9052 1.36897C16.2736 1.36897 16.6339 1.47824 16.9402 1.68296C17.2466 1.88768 17.4854 2.17866 17.6264 2.5191C17.7675 2.85953 17.8043 3.23414 17.7325 3.59555C17.6606 3.95696 17.4831 4.28893 17.2226 4.54949C16.962 4.81005 16.63 4.98749 16.2686 5.05938C15.9072 5.13127 15.5326 5.09437 15.1922 4.95336C14.8517 4.81234 14.5608 4.57355 14.356 4.26716C14.1513 3.96077 14.0421 3.60056 14.0421 3.23208C14.0421 2.73795 14.2383 2.26406 14.5877 1.91466C14.9371 1.56526 15.411 1.36897 15.9052 1.36897ZM3.15532 11.9266C2.78684 11.9266 2.42663 11.8173 2.12024 11.6126C1.81385 11.4078 1.57506 11.1169 1.43404 10.7764C1.29303 10.436 1.25613 10.0614 1.32802 9.69998C1.39991 9.33857 1.57735 9.0066 1.83791 8.74604C2.09847 8.48548 2.43044 8.30804 2.79185 8.23615C3.15326 8.16426 3.52787 8.20116 3.8683 8.34217C4.20874 8.48318 4.49972 8.72198 4.70444 9.02837C4.90916 9.33475 5.01843 9.69497 5.01843 10.0635C5.01843 10.5576 4.82214 11.0315 4.47274 11.3809C4.12334 11.7303 3.64945 11.9266 3.15532 11.9266ZM15.9052 18.7579C15.5367 18.7579 15.1765 18.6487 14.8701 18.4439C14.5637 18.2392 14.3249 17.9482 14.1839 17.6078C14.0429 17.2674 14.006 16.8928 14.0779 16.5314C14.1497 16.1699 14.3272 15.838 14.5877 15.5774C14.8483 15.3169 15.1803 15.1394 15.5417 15.0675C15.9031 14.9956 16.2777 15.0325 16.6181 15.1735C16.9586 15.3146 17.2495 15.5534 17.4543 15.8597C17.659 16.1661 17.7683 16.5263 17.7683 16.8948C17.7683 17.389 17.572 17.8628 17.2226 18.2122C16.8732 18.5616 16.3993 18.7579 15.9052 18.7579Z' fill='%23757575'/%3E%3C/svg%3E%0A");
        background-size: 18px 18px;
        background-repeat: no-repeat;
        &:hover {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9052 13.7897C15.4869 13.7913 15.0732 13.8773 14.689 14.0428C14.3049 14.2082 13.958 14.4495 13.6694 14.7523L6.09903 10.964C6.28525 10.3993 6.28525 9.78973 6.09903 9.22506L13.6819 5.36843C14.225 5.9408 14.9615 6.29077 15.7483 6.35032C16.5351 6.40988 17.316 6.17477 17.9391 5.69068C18.5622 5.2066 18.9831 4.50813 19.1199 3.73103C19.2567 2.95393 19.0997 2.15372 18.6794 1.48593C18.2591 0.818149 17.6055 0.330494 16.8456 0.117754C16.0858 -0.0949864 15.274 -0.0176129 14.5681 0.334835C13.8621 0.687283 13.3124 1.28963 13.0258 2.02479C12.7392 2.75995 12.7362 3.57541 13.0173 4.31267L5.50904 8.13204C5.10354 7.63611 4.55457 7.27773 3.9374 7.10604C3.32023 6.93435 2.66506 6.95774 2.0617 7.17301C1.45835 7.38828 0.936339 7.7849 0.567236 8.30848C0.198132 8.83207 0 9.457 0 10.0976C0 10.7382 0.198132 11.3631 0.567236 11.8867C0.936339 12.4103 1.45835 12.8069 2.0617 13.0222C2.66506 13.2375 3.32023 13.2609 3.9374 13.0892C4.55457 12.9175 5.10354 12.5591 5.50904 12.0632L12.9987 15.8329C12.8722 16.1727 12.807 16.5322 12.8062 16.8948C12.8062 17.509 12.9883 18.1093 13.3295 18.62C13.6707 19.1306 14.1557 19.5286 14.7231 19.7636C15.2905 19.9987 15.9148 20.0601 16.5172 19.9403C17.1195 19.8205 17.6728 19.5248 18.1071 19.0905C18.5413 18.6562 18.8371 18.103 18.9569 17.5006C19.0767 16.8983 19.0152 16.2739 18.7802 15.7065C18.5451 15.1391 18.1472 14.6542 17.6365 14.313C17.1259 13.9718 16.5255 13.7897 15.9114 13.7897H15.9052ZM15.9052 1.36897C16.2736 1.36897 16.6339 1.47824 16.9402 1.68296C17.2466 1.88768 17.4854 2.17866 17.6264 2.5191C17.7675 2.85953 17.8043 3.23414 17.7325 3.59555C17.6606 3.95696 17.4831 4.28893 17.2226 4.54949C16.962 4.81005 16.63 4.98749 16.2686 5.05938C15.9072 5.13127 15.5326 5.09437 15.1922 4.95336C14.8517 4.81234 14.5608 4.57355 14.356 4.26716C14.1513 3.96077 14.0421 3.60056 14.0421 3.23208C14.0421 2.73795 14.2383 2.26406 14.5877 1.91466C14.9371 1.56526 15.411 1.36897 15.9052 1.36897ZM3.15532 11.9266C2.78684 11.9266 2.42663 11.8173 2.12024 11.6126C1.81385 11.4078 1.57506 11.1169 1.43404 10.7764C1.29303 10.436 1.25613 10.0614 1.32802 9.69998C1.39991 9.33857 1.57735 9.0066 1.83791 8.74604C2.09847 8.48548 2.43044 8.30804 2.79185 8.23615C3.15326 8.16426 3.52787 8.20116 3.8683 8.34217C4.20874 8.48318 4.49972 8.72198 4.70444 9.02837C4.90916 9.33475 5.01843 9.69497 5.01843 10.0635C5.01843 10.5576 4.82214 11.0315 4.47274 11.3809C4.12334 11.7303 3.64945 11.9266 3.15532 11.9266ZM15.9052 18.7579C15.5367 18.7579 15.1765 18.6487 14.8701 18.4439C14.5637 18.2392 14.3249 17.9482 14.1839 17.6078C14.0429 17.2674 14.006 16.8928 14.0779 16.5314C14.1497 16.1699 14.3272 15.838 14.5877 15.5774C14.8483 15.3169 15.1803 15.1394 15.5417 15.0675C15.9031 14.9956 16.2777 15.0325 16.6181 15.1735C16.9586 15.3146 17.2495 15.5534 17.4543 15.8597C17.659 16.1661 17.7683 16.5263 17.7683 16.8948C17.7683 17.389 17.572 17.8628 17.2226 18.2122C16.8732 18.5616 16.3993 18.7579 15.9052 18.7579Z' fill='%230077e8'/%3E%3C/svg%3E%0A");
          background-size: 18px 18px;
          background-repeat: no-repeat;
        }
        &:focus {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9052 13.7897C15.4869 13.7913 15.0732 13.8773 14.689 14.0428C14.3049 14.2082 13.958 14.4495 13.6694 14.7523L6.09903 10.964C6.28525 10.3993 6.28525 9.78973 6.09903 9.22506L13.6819 5.36843C14.225 5.9408 14.9615 6.29077 15.7483 6.35032C16.5351 6.40988 17.316 6.17477 17.9391 5.69068C18.5622 5.2066 18.9831 4.50813 19.1199 3.73103C19.2567 2.95393 19.0997 2.15372 18.6794 1.48593C18.2591 0.818149 17.6055 0.330494 16.8456 0.117754C16.0858 -0.0949864 15.274 -0.0176129 14.5681 0.334835C13.8621 0.687283 13.3124 1.28963 13.0258 2.02479C12.7392 2.75995 12.7362 3.57541 13.0173 4.31267L5.50904 8.13204C5.10354 7.63611 4.55457 7.27773 3.9374 7.10604C3.32023 6.93435 2.66506 6.95774 2.0617 7.17301C1.45835 7.38828 0.936339 7.7849 0.567236 8.30848C0.198132 8.83207 0 9.457 0 10.0976C0 10.7382 0.198132 11.3631 0.567236 11.8867C0.936339 12.4103 1.45835 12.8069 2.0617 13.0222C2.66506 13.2375 3.32023 13.2609 3.9374 13.0892C4.55457 12.9175 5.10354 12.5591 5.50904 12.0632L12.9987 15.8329C12.8722 16.1727 12.807 16.5322 12.8062 16.8948C12.8062 17.509 12.9883 18.1093 13.3295 18.62C13.6707 19.1306 14.1557 19.5286 14.7231 19.7636C15.2905 19.9987 15.9148 20.0601 16.5172 19.9403C17.1195 19.8205 17.6728 19.5248 18.1071 19.0905C18.5413 18.6562 18.8371 18.103 18.9569 17.5006C19.0767 16.8983 19.0152 16.2739 18.7802 15.7065C18.5451 15.1391 18.1472 14.6542 17.6365 14.313C17.1259 13.9718 16.5255 13.7897 15.9114 13.7897H15.9052ZM15.9052 1.36897C16.2736 1.36897 16.6339 1.47824 16.9402 1.68296C17.2466 1.88768 17.4854 2.17866 17.6264 2.5191C17.7675 2.85953 17.8043 3.23414 17.7325 3.59555C17.6606 3.95696 17.4831 4.28893 17.2226 4.54949C16.962 4.81005 16.63 4.98749 16.2686 5.05938C15.9072 5.13127 15.5326 5.09437 15.1922 4.95336C14.8517 4.81234 14.5608 4.57355 14.356 4.26716C14.1513 3.96077 14.0421 3.60056 14.0421 3.23208C14.0421 2.73795 14.2383 2.26406 14.5877 1.91466C14.9371 1.56526 15.411 1.36897 15.9052 1.36897ZM3.15532 11.9266C2.78684 11.9266 2.42663 11.8173 2.12024 11.6126C1.81385 11.4078 1.57506 11.1169 1.43404 10.7764C1.29303 10.436 1.25613 10.0614 1.32802 9.69998C1.39991 9.33857 1.57735 9.0066 1.83791 8.74604C2.09847 8.48548 2.43044 8.30804 2.79185 8.23615C3.15326 8.16426 3.52787 8.20116 3.8683 8.34217C4.20874 8.48318 4.49972 8.72198 4.70444 9.02837C4.90916 9.33475 5.01843 9.69497 5.01843 10.0635C5.01843 10.5576 4.82214 11.0315 4.47274 11.3809C4.12334 11.7303 3.64945 11.9266 3.15532 11.9266ZM15.9052 18.7579C15.5367 18.7579 15.1765 18.6487 14.8701 18.4439C14.5637 18.2392 14.3249 17.9482 14.1839 17.6078C14.0429 17.2674 14.006 16.8928 14.0779 16.5314C14.1497 16.1699 14.3272 15.838 14.5877 15.5774C14.8483 15.3169 15.1803 15.1394 15.5417 15.0675C15.9031 14.9956 16.2777 15.0325 16.6181 15.1735C16.9586 15.3146 17.2495 15.5534 17.4543 15.8597C17.659 16.1661 17.7683 16.5263 17.7683 16.8948C17.7683 17.389 17.572 17.8628 17.2226 18.2122C16.8732 18.5616 16.3993 18.7579 15.9052 18.7579Z' fill='%230077e8'/%3E%3C/svg%3E%0A");
          background-size: 18px 18px;
          background-repeat: no-repeat;
        }
      }

      .share-modal {
        position: absolute;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 53px;
        right: 0px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border: solid 1px #e0e0e0;
        width: 376px;
        padding: 15px 10px 15px 10px;
        z-index: 4;
        animation-name: appearIn;
        animation-duration: 0.2s;
        animation-timing-function: linear;

        &__link {
          width: 300px;
          min-height: 37px;
          padding: 9px 10px 9px 10px;
          word-break: break-all;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: #ecf6ff;
          border: none;
          outline: none;
        }
        &__button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 7px 7px 7px 7px;
          border: 1.5px solid #ecf6ff;
          background-color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.item:hover {
  animation-name: moveUp;
  animation-duration: 0.3s;
  transform: translateY(-5px);
  animation-timing-function: linear;
  box-shadow: 9px 9px 24px rgba(0, 0, 0, 0.07);
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes appearIn {
  0% {
    // height: 0px;
    opacity: 0%;
  }

  100% {
    // height: 26vh;
    opacity: 100%;
  }
}

.item.item {
  margin-bottom: 10px;
}
