@import '~styles/_mixin.scss';

.section__list {
  padding-top: 2.813rem;
  width: 68.75rem;
  transition: all ease-in .3s;

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.188rem;
    color: var(--gray-1);
    display: flex;
    flex-direction: row;
  }

  .container {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      color: var(--gray-1);
      font-size: 24px;
      font-weight: 400;
      margin: 20px auto;
    }

    .desc {
      color: var(--gray-1);
      font-size: 16px;
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1075px) {
  .section__list {
    width: 60.75rem;
  }
}

@media (max-width: 955px) {
  .section__list {
    width: 52.75rem;
    .section__list__title {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }
  }
}

@include tablet {
  .section__list {
    width: 52.75rem;

    &__title {
      font-size: 1.3rem;
      line-height: 1.7rem;

      .container {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
          color: var(--gray-1);
          font-size: 20px;
          font-weight: 400;
          margin: 16px auto;
        }

        .desc {
          color: var(--gray-1);
          font-size: 14px;
          font-weight: 500;
          margin-top: 25px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@include mobile {
  .section__list {
    width: 42rem;
  
    .container {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        color: var(--gray-1);
        font-size: 16px;
        font-weight: 400;
        margin: 7px auto;
      }

      .desc {
        color: var(--gray-1);
        font-size: 12px;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }
  }
  @media (max-width: 600px) {
    .section__list {
      width: 36rem;
    }
  }

  @media (max-width: 555px) {
    .section__list {
      width: 30rem;
    }
  }


  @media (max-width: 455px) {
    .section__list {
      width: 25rem;
    }
  }

  @media (max-width: 360px) {
    .section__list {
      width: 20rem;
    }
  }
}