@import '~styles/_mixin.scss';

.section__list {
  padding-top: 2.813rem;
  width: 68.75rem;
  transition: all ease-in 0.3s;

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.188rem;
    color: var(--gray-1);
    display: flex;
    flex-direction: row;
  }

  .container {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      color: var(--gray-1);
      font-size: 24px;
      font-weight: 400;
      margin: 20px auto;
    }

    .desc {
      color: var(--gray-1);
      font-size: 16px;
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .tag__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@include laptop {
  @media (max-width: 1075px) {
    .section__list {
      width: 59.75rem;
    }
  }
  @media (max-width: 950px) {
    .section__list {
      width: 50.75rem;
    }
  }
  @media (max-width: 800px) {
    .section__list {
      width: 42.75rem;
    }
  }
}

@include tablet {
  .section__list {
    width: 34.75rem;
    margin: 0 auto;
    .container {
      .title {
        font-size: 22px;
      }
    }
  }
  @media (max-width: 500px) {
    .section__list {
      width: 26.75rem;
    }
  }
}

@include mobile {
  .section__list {
    width: 20.75rem;
    margin: 0 auto;
    .container {
      .title {
        font-size: 18px;
      }
    }
  }
}
