@import '~styles/_mixin.scss';

.container {
  background-color: var(--background-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;  

  .header {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__title {
      color: var(--gray-1);
      font-size: 21px;
      font-weight: 600;
    }

    &__deleteBtn {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      border-radius: 10px;
      &:hover {
        cursor: pointer;
        background-color: var(--gray-5);
      }
    }
  }
  .inner {
    width: 90%;
    margin: 0 auto;

    .dropdown {
      margin-top: .7rem;
    }
  }
  .finishBtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 48px;
    margin: 0 auto;
  }
}

.hidden {
  animation-name: focusOut;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes focusIn {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@keyframes focusOut {
  0% {
    opacity: 100%;
    transform: translateY(0%);
  }

  100% {
    opacity: 0%;
    transform: translateY(100%);
  }
}
