@import '~styles/_mixin.scss';

.container {
  background-color: var(--background-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;


  .header {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    position: sticky;
    background-color: var(--background-1);
    z-index: 1000;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    align-items: center;

    &__input {
      width: 100%;
      margin: 0 .8rem;
    }

    &__button {
      min-width: 35px;
      height: 35px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: var(--gray-5);
        cursor: pointer;
      }
    }

    .active--light {
      &:hover {
        background-color: rgba(237, 239, 255, 1);
        cursor: pointer;
      }
    }

    .active--dark {
      background-color: rgba(34, 35, 38, 1);
      cursor: pointer;
    }
  }

  .body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
      position: relative;
      width: 40%;
      min-width: 5rem;
      min-height: 5rem;
    }

    &__desc {
      font-size: 22px;
      margin-top: 2.5rem;
      font-weight: 500;
      color: var(--gray-3);
    }
  }
}

@keyframes focusIn {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.hidden {
  animation-name: focusOut;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes focusOut {
  0% {
    opacity: 100%;
    transform: translateY(0%);
  }

  100% {
    opacity: 0%;
    transform: translateY(100%);
  }
}

@media (min-width: 600px) {
  .container {
    .header {
      width: 100%;
    }
  }
}
