@import '~styles/_mixin.scss';

.notice {
  position: static;
  height: 36px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  animation: appearIn;
  animation-duration: .5s;
  animation-timing-function: linear;
  z-index: 999;

  &__inner {
    width: 68.75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .notice__content {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .notice__title {
        font-size: 16px;
        font-weight: bold;
        color: var(--primary);
      }
    }

    .icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      
      &:hover {
        background-color: rgb(213, 215, 229);
        cursor: pointer;
      }
    }
  }
}

@include laptop {
  @media (max-width: 1075px) {
    .notice {
      &__inner {
        width: 58.75rem;
      }
    }
  }
  @media (max-width: 950px) {
    .notice {
      &__inner {
        width: 50.75rem;
      }
    }
  }
  @media (max-width: 800px) {
    .notice {
      &__inner {
        width: 42.75rem;
      }
    }
  }
}

@include tablet {
  .notice {
    &__inner {
      width: 34.75rem;
    }
  }
  @media (max-width: 500px) {
    .notice {
      &__inner {
        width: 26.75rem;
        .notice__content {
          .notice__title {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@include mobile {
  .notice {
    &__inner {
      width: 24.75rem;
      .notice__content {
        .notice__title {
          font-size: 13px;
        }
      }
    }
  }
}


.status--delete {
  display: none;
}

.notice--light {
  background-color: rgba(237, 239, 255, 1);
}

.notice--dark {
  background-color: rgba(24, 27, 40, 1);
}

@keyframes appearIn {
  0% {
    transform: translateY(-48px);
  }
  100% {
    transform: translateY(0);
  }
}