@import '~styles/_mixin.scss';

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 2rem;
  border-radius: 9px;
  background-color: var(--background-1);
  color: var(--gray-1);
  box-shadow: 1px 1px 1px .5px var(--gray-2);
  animation-name: appearIn;
  animation-duration: .6s;
  animation-timing-function: ease;
}

@keyframes appearIn {
  0% {
    opacity: 0%;
    transform: translate(-50%, -4rem);
  }

  100% {
    opacity: 100%;
    transform: translate(-50%, 0);
  }
}