@import '~styles/_mixin.scss';

.tag {
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  &--approach {
    background-color: #e17272;
    color: #fff;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
  }
  &--scheduled {
    background-color: #757575;
    color: #fff;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
  }
  &--ongoing {
    background-color: #6dc670;
    color: #fff;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
  }
}

@include mobile {
  .tag {
    position: absolute;
    top: 5px;
    left: 1rem;
    border: none;
    font-weight: 700;
    font-size: 9px;
    line-height: 16px;
    text-align: center;

    &--approach {
      background-color: #e17272;
      color: #fff;
      padding: 2px 5px 2px 5px;
      border-radius: 10px;
    }
    &--scheduled {
      background-color: #757575;
      color: #fff;
      padding: 2px 5px 2px 5px;
      border-radius: 10px;
    }
    &--ongoing {
      background-color: #6dc670;
      color: #fff;
      padding: 2px 5px 2px 5px;
      border-radius: 10px;
    }
  }
}
