@import '~styles/_mixin.scss';

.container {
  width: 100%;
  background-color: transparent;
  padding-top: 4.688rem;
  transition: all ease-in .3s;

  .inner {
    width: 68.75rem;
    margin: 0 auto;
  }

  .block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
      color: var(--gray-1);
    }
  }
  .filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__search {
      min-width: 280px;
    }
    &__group {
      width: 100%;
      display: flex;
      padding-left: .5rem;
      justify-content: space-between;
      align-items: center;
      &__tag {
        display: flex;
        justify-content: flex-start;
      }
      &__toggle {
        display: none;
      }
    }
  }
}


@include laptop {
  .container {
    .inner {
      width: 68.75rem;
    }
    .block {
      &__desc {
        font-size: 2.3rem;
      }
    }
  }
  @media (max-width: 1075px) {
    .container {
      .inner {
        width: 58.75rem;
      }
      .block {
        &__desc {
          font-size: 2.3rem;
        }
      }
    }
  }
  @media (max-width: 950px) {
    .container {
      .inner {
        width: 50.75rem;
      }
      .block {
        &__desc {
          font-size: 2.1rem;
        }
      }
      .filter {
        display: block;
        position: relative;
        &__group {
          margin-top: .7rem;
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
  @media (max-width: 800px) {
    .container {
      padding-top: 3.688rem;
      .inner {
        width: 42.75rem;
      }
      .block {
        &__desc {
          font-size: 2rem;
        }
      }
      
    }
  }
}

@include tablet {
  .container {
    padding-top: 2.388rem;
    .inner {
      width: 38.75rem;
    }
    .block {
      &__desc {
        font-size: 1.8rem;
      }
      &__taglist {
        display: none;
      }
    }
    .filter {
      display: block;
      position: relative;
      margin-top: 1.2rem;
      &__search {
        width: 90%;
      }
      &__group {
        width: 100%;
        padding-left: 0;
        &__tag {
          display: none;
        }
        &__toggle {
          position: absolute;
          top: 0;
          right: 0;
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            background-color: var(--gray-5);
          }
        }
        &__date {
          margin-top: .7rem;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 550px) {
    .container {
      .inner {
        width: 34.75rem;
      }
      .block {
        &__desc {
          font-size: 1.6rem;
        }
      }
      .filter {
        &__search {
          width: 87%;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .container {
      .inner {
        width: 26.75rem;
      }
      .block {
        &__desc {
          font-size: 1.6rem;
        }
      }
      .filter {
        &__search {
          width: 87%;
        }
      }
    }
  }
  @media (max-width: 450px) {
    .container {
      .inner {
        width: 23.75rem;
      }
      .block {
        &__desc {
          font-size: 1.6rem;
        }
      }
      .filter {
        &__search {
          width: 80%;
        }
        &__group {
          &__tag {
            display: none;
          }
        }
      }
    }
  }
}

@include mobile {
  .container {
    padding-top: 1.688rem;
    .inner {
      width: 21.75rem;
    }
    .block {
      &__desc {
        font-size: 1.6rem;
      }
      &__taglist {
        display: none;
      }
    }
    .filter {
      display: block;
      position: relative;
      &__search {
        width: 67%;
      }
      &__group {
        width: 100%;
        padding-left: 0;
        &__tag {
          display: none;
        }
        &__toggle {
          position: absolute;
          top: 0;
          right: 0;
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            background-color: var(--gray-5);
          }
        }
        &__date {
          margin-top: .7rem;
          width: 100%;
        }
      }
    }
  }
}