@import '~styles/_mixin.scss';

.container {
  width: 68.75rem;
  background-color: transparent;
  padding-top: 4.688rem;
  margin: 0px;
  transition: all ease-in .3s;

  .block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
      color: var(--gray-1);
    }
  }
  .filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__search {
      min-width: 280px;
    }
    &__group {
      width: 100%;
      padding-left: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__tag {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: 1075px) {
  .container {
    width: 60.75rem;
  }
}

@media (max-width: 955px) {
  .container {
    width: 52.75rem;
    margin-top: 1.88rem;
    .block {
      &__desc {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    .filter {
      width: 100%;
      display: block;

      .filter__search {
        display: block;
        width: 100%;
      }
      .filter__group {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        &__tag {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}

@include mobile {
  .container {
    width: 42rem;
    padding-top: 2.688rem;
    .block {
      &__desc {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    .filter {
      &__group {
        margin-top: 1rem;
      }
    }
  }
  @media (max-width: 600px) {
    .container {
      width: 36rem;
    }
  }

  @media (max-width: 555px) {
    .container {
      width: 30rem;
      .filter {
        width: 100%;
        position: relative;

        &__search {
          min-width: 210px;
        }
        &__group {
          padding-bottom: .5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__tag {
            width: 30rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          
          &__date {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }

  @media (max-width: 455px) {
    .container {
      width: 25rem;
      .block {
        &__desc {
          font-size: 1.6rem;
        }
      }
      .filter {
        &__search {
          display: block;
        }
        .filter__group {
          width: 100%;
          margin-top: .5rem;
          display: block;
          &__tag {
            width: 100%;
            justify-content: space-between;
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    .container {
      display: block;
      width: 20rem;
      padding-top: 0;
      .block {
        &__desc {
          font-size: 1.3rem;
        }
      }
      .filter {
        &__search {
          display: block;
        }
        .filter__group {
          width: 100%;
          margin-top: .5rem;
          display: block;
          &__tag {
            width: 100%;
            justify-content: space-between;
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
}
