@import '~styles/_mixin.scss';

.container {
  width: 68.75rem;
  background-color: transparent;
  padding-top: 4.688rem;
  margin: 0px;

  .block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
    }
    &__filter {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}