@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';
@import '~styles/_common.scss';

.email_subscribe {
  @include flex-center;
  margin-left: auto;
  gap: 0.5rem;
  max-width: 155px;
  height: 48px;
  @extend %button-rounded;
  padding: 4px 40px;
  background-color: var(--primary);
  border: none;

  // 폰트 스타일
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.4px;
  color: var(--background-1);

  &:hover {
    background: #1e3bcf;
  }

  @include tablet {
    padding: 4px 40px;
    font-size: 14px;
  }

  @include mobile {
    max-width: 155px;
    height: 48px;
    padding: 4px 40px;
    font-size: 14px;
    right: 20px;
    bottom: 20px;
  }
}
