@import '~styles/_mixin.scss';

.button {
  border-radius: 2px;
  cursor: pointer;
  border: none;
  color: var(--background-1);
  background-color: var(--gray-1);
  font-weight: 700;

  &.size--large {
    padding: 0.938rem 1.625rem 1rem 1.625rem;
    height: 3.75rem;
    font-size: 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
  }

  &.size--regular {
    padding: 0.813rem 1.5rem 0.813rem 1.5rem;
    height: 3rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
  }
}

@include mobile {
  .button.size--large {
    padding: 0px;
    min-width: 8.357rem;
    height: 2.5rem;
    font-size: 0.857rem;
    line-height: 1.214rem;
    text-align: center;
  }
  
  .button.size--regular {
    padding: 0.3rem 1rem 0.3rem 1rem;
    height: 2.2rem;
    font-size: 0.775rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 455px) {
  .button.size--large {
    padding: 0px;
    min-width: 8.357rem;
    height: 2.2rem;
    font-size: 0.857rem;
    font-weight: 400;
    line-height: 1.214rem;
    text-align: center;
  }
  .button.size--regular {
    padding: 0.1rem .5rem 0.1rem .5rem;
    height: 2rem;
    font-weight: 400;
    font-size: 0.475rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}