@import '~styles/_mixin.scss';

.button {
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  min-width: 12rem;
  min-height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
