@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';
@import '~styles/_common.scss';

.withdraw_cancel {
  @include flex-center;
  gap: 0.5rem;
  width: 7.4375rem; // 119px
  height: 3rem; // 48px
  background: $dark-gray;
  border: none;
  border-radius: 6px;
  
  // 폰트 스타일
  font-style: normal;
  font-weight: 600;
  font-size: 1rem; // 16px
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  color: $white;
  
  &:hover {
    background: $hover-gray;
  }
}
