.withdraw {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 44px;
  padding: 0 20px;
  background: var(--vapor-gray-000);
  border: 1px solid var(--vapor-text-danger);
  border-radius: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.012rem;
  color: var(--vapor-text-danger);
  cursor: pointer;
  transition: background-color 0.15s ease;

  &:hover {
    background: var(--vapor-gray-050);
  }
}
