.withdraw {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 95px; // 7.4375rem; // 119px
  height: 3rem; // 48px
  background: #ffffff;
  border: 1px solid #ef737b;
  border-radius: 6px;

  /* font */
  font-style: normal;
  font-weight: 600;
  font-size: 1rem; // 16px
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #e8424c;

  &:hover {
    background: #fcf2f3;
  }
}
