@import '~styles/_mixin.scss';

.container {
  min-width: 14rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1.5px solid #cecece;
  border-radius: 8.9881px;
  
  .key--active {
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s linear;
    &:hover {
      cursor: pointer;
      background-color: #ccc;
    }
  }

  .key--left {
    border-radius: 8.9881px 0 0 8.9881px;
  }

  .key--right {
    border-radius: 0 8.9881px 8.9881px 0;
  }

  .key--disactive {
    opacity: 0.5;
    user-select: none;
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.dropdown {
  display: flex;
  justify-content: center;
  min-width: 8rem;
  position: relative;
  user-select: none;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.125rem 0 1.125rem;
    font-size: 1rem;
    color: #757575;
    font-weight: 400;
    cursor: pointer;

    &__placeholder {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__list {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -2.5rem);
    animation-name: appearIn;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    max-height: 7.5rem;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 8.9881px;

    &__element {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 11rem;
      height: 3rem;
      
      &:hover {
        cursor: pointer;
        background-color: #cecece;
      }
    }
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      width: 3px;
      border-radius: 4px;
      background-color: #c4c4c4;
    }

    &::-webkit-scrollbar-track {
      width: 3px;
      background-color: transparent;
      /* padding-left: 2px; */
    }
  }  
}

@include mobile {
  .dropdown {
    display: flex;
    flex-direction: column;
    min-width: 5.786rem;
    position: relative;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 2.429rem;
      padding: 0 0.6rem 0 0.6rem;
      font-size: 0.857rem;
      color: #757575;
      font-weight: 400;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.5);
      border: 1.5px solid #cecece;
      box-sizing: border-box;
      border-radius: 7.48px;

      &__placeholder {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 4px;
        .icon {
          height: 14px;
          margin: 0;
          padding-right: 0.471rem;
          svg {
            height: 14px;
            width: 14px;
          }
        }
      }
    }

    &__list {
      animation-name: appearIn;
      animation-duration: 0.2s;
      animation-timing-function: linear;

      &.type--basic.hidden {
        display: none;
      }

      &.type--basic {
        min-width: 10.786rem;
        min-height: 3rem;
        max-height: 16.25rem;
        top: 2.429rem;
        position: absolute;
        z-index: 3;
        margin: 0;
        border-radius: 10px;
        background-color: #fff;
        overflow-y: scroll;
        border: solid 1.5px #e0e0e0;
        color: #757575;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;

        &::-webkit-scrollbar {
          background-color: transparent;
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          width: 3px;
          border-radius: 4px;
          background-color: #c4c4c4;
        }

        &::-webkit-scrollbar-track {
          width: 3px;
          background-color: transparent;
          /* padding-left: 2px; */
        }
      }
      &.type--expand.hidden {
        display: none;
      }
      &.type--expand {
        align-self: flex-start;
        position: absolute;
        z-index: 3;
        top: 2.429rem;
        margin: 0;
        min-width: 18rem;
        min-height: 16.25rem;
        padding: 1.5rem 1.875rem 1.5rem 1.875rem;
        color: #757575;
        background-color: #fff;
        overflow-y: scroll;
        border: solid 1.5px #e0e0e0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 10px;

        span {
          font-weight: 500;
          font-size: 13px;
          line-height: 17.38px;
          color: #757575;
        }

        .wrapper {
          padding-top: 0.625rem;
          display: flex;
          flex-flow: wrap;
        }

        &::-webkit-scrollbar {
          background-color: transparent;
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          width: 3px;
          border-radius: 4px;
          background-color: #c4c4c4;
        }

        &::-webkit-scrollbar-track {
          width: 3px;
          background-color: transparent;
        }
      }
    }

    &__list__item {
      &.type--basic {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding: 0.5rem 1.604rem 0.5rem 1.604rem;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #757575;
        font-weight: 400;
        font-size: 0.857rem;
        cursor: pointer;
        height: 3rem;

        &:hover {
          background: #ebebeb;
        }
        &:focus {
          background-color: #ebebeb;
        }
      }

      &.type--expand {
        padding-right: 0.5rem;
        padding-top: 0.75rem;
      }
    }
  }
}

@keyframes appearIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
}
