@import '~styles/_mixin.scss';

.container {
  width: 14rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-1);
  border: 1.5px solid;
  border-color: var(--gray-4);
  border-radius: 2.9881px;
  
  .key--active {
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s linear;
    &:hover {
      cursor: pointer;
      background-color: var(--background-2);
    }
  }

  .key--left {
    border-radius: 2.9881px 0 0 2.9881px;
  }

  .key--right {
    border-radius: 0 2.9881px 2.9881px 0;
  }

  .key--disactive {
    opacity: 0.5;
    user-select: none;
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown {
    display: flex;
    justify-content: center;
    min-width: 8rem;
    height: 100%;
    position: relative;
    user-select: none;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1rem;
      color: var(--gray-1);
      font-weight: 400;
      cursor: pointer;

    }

    &__list {
      width: 14rem;
      height: 265px;
      position: absolute;
      left: 50%;
      top: 45px;
      transform: translateX(-50%);
      overflow: hidden;
      animation-name: appearIn;
      animation-duration: 0.2s;
      animation-timing-function: linear;
      background-color: var(--background-1);
      border-radius: 2.9881px;
      border: 1.5px solid;
      border-color: var(--gray-4);
      z-index: 999;

      &__year {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .year__text {
          line-height: 14px;
          font-size: 14px;
        }

        .year__key {
          width: 3rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            cursor: pointer;
          }
        }

        .unvalid__key {
          opacity: 50%;
          width: 3rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
        }
      }
    }  
  }
}

@media (max-width: 1075px) {
  .container {
    .key--active {
      min-width: 2.5rem;
    }
    .key--disactive {
      min-width: 2.5rem;
    }
    .dropdown {
      display: flex;
      justify-content: center;
    
      &__list {
        width: 14rem;
      }
    }
  } 
}

@include mobile {
  .container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 35px;

    .key--active {
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .key--disactive {
      opacity: 0.5;
      user-select: none;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dropdown {
      &__header {
        font-size: 0.857rem;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
  
      &__list {
        position: absolute;
        left: 50%;
        top: 38px;
        transform: translateX(-50%);
        animation-name: appearIn;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        overflow-y: scroll;
        background-color: var(--background-1);
        border: 1.5px solid;
        border-color: var(--gray-4);
        border-radius: 2.9881px;
        height: 245px;
        overflow: hidden;

      }
    }
  }

  @media (max-width: 555px) {
    .container {
      width: 12rem;
      height: 30px;
      display: flex;
      flex-direction: row;
      position: relative;

      .key--active {
        min-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .key--disactive {
        opacity: 0.5;
        user-select: none;
        min-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dropdown {
        min-width: 6rem;
        &__header {
          width: 100%;
          font-size: 0.9rem;
          font-weight: 400;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
    
        &__list {
          width: 12rem;
          position: absolute;
          left: 50%;
          top: 32px;
          transform: translateX(-50%);
          animation-name: appearIn;
          animation-duration: 0.2s;
          animation-timing-function: linear;
          overflow-y: scroll;
          background-color: #ffffff;
          border: 1.5px solid #cecece;
          border-radius: 2.9881px;
          overflow: hidden;
        }
      }
    }
  }
}

@keyframes appearIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
