@import '~styles/_mixin.scss';

.date {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__element {
    width: 52px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
    border: 1px solid;
    color: var(--gray-1);
    border-color: var(--gray-4);

    &:hover {
      cursor: pointer;
      background-color: var(--background-2);
    }
  }

  &__invalid {
    user-select: none;
    color: var(--gray-5);
    border-color: var(--gray-5);
    background-color: transparent;
    &:hover {
      cursor: auto;
      background-color: transparent;
    }
  }
  .light--selected {
    border-color: var(--primary);
    background-color: rgba(237, 239, 255, 1);
    color: var(--primary);
  }

  .dark--selected {
    border-color: var(--primary);
    background-color: rgba(34, 35, 38, 1);
    color: var(--primary);
  }
}

@include tablet {
  .date {
    width: 100%;
    &__element {
      width: 68px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 500;
      margin: 5px;
      border: 1px solid;
      color: var(--gray-1);
      border-color: var(--gray-4);

      &:hover {
        cursor: pointer;
        background-color: var(--background-2);
      }
    }
    &__invalid {
      user-select: none;
      color: var(--gray-5);
      border-color: var(--gray-5);
      background-color: transparent;
      &:hover {
        cursor: auto;
        background-color: transparent;
      }
    }
    .light--selected {
      border-color: var(--primary);
      background-color: rgba(237, 239, 255, 1);
      color: var(--primary);
    }

    .dark--selected {
      border-color: var(--primary);
      background-color: rgba(34, 35, 38, 1);
      color: var(--primary);
    }
  }
}