@import '~styles/_mixin.scss';

.date {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__element {
    width: 52px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
    border: 1px solid;
    color: var(--vapor-gray-900);
    border-color: var(--vapor-gray-300);

    &:hover {
      cursor: pointer;
      background-color: var(--vapor-gray-050);
    }
  }

  &__invalid {
    user-select: none;
    color: var(--vapor-gray-400);
    border-color: var(--vapor-gray-200);
    background-color: transparent;
    &:hover {
      cursor: auto;
      background-color: transparent;
    }
  }
  .light--selected {
    border-color: var(--ktb-tech-blue);
    background-color: rgba(0, 67, 255, 0.08);
    color: var(--ktb-tech-blue);
  }

  .dark--selected {
    border-color: var(--ktb-tech-blue);
    background-color: var(--vapor-gray-950);
    color: var(--ktb-tech-blue);
  }
}

@include tablet {
  .date {
    width: 100%;
    &__element {
      width: 68px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 500;
      margin: 5px;
      border: 1px solid;
      color: var(--vapor-gray-900);
      border-color: var(--vapor-gray-300);

      &:hover {
        cursor: pointer;
        background-color: var(--vapor-gray-050);
      }
    }
    &__invalid {
      user-select: none;
      color: var(--vapor-gray-400);
      border-color: var(--vapor-gray-200);
      background-color: transparent;
      &:hover {
        cursor: auto;
        background-color: transparent;
      }
    }
    .light--selected {
      border-color: var(--ktb-tech-blue);
      background-color: rgba(0, 67, 255, 0.08);
      color: var(--ktb-tech-blue);
    }

    .dark--selected {
      border-color: var(--ktb-tech-blue);
      background-color: var(--vapor-gray-950);
      color: var(--ktb-tech-blue);
    }
  }
}