@import '~styles/_mixin.scss';

.container {
  position: relative;
  width: 100%;
  min-width: 14rem;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-1);
  border: 1.5px solid;
  border-color: var(--gray-4);
  border-radius: 2.9881px;

  &:hover {
    border-color: rgba(170, 184, 255, 1);
  }

  .key  {
    overflow: hidden;
  }
  
  .key--active {
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s linear;
    &:hover {
      cursor: pointer;
      background-color: var(--background-2);
    }
  }

  .key--left {
    border-radius: 2.9881px 0 0 2.9881px;
  }

  .key--right {
    border-radius: 0 2.9881px 2.9881px 0;
  }

  .key--disactive {
    opacity: 0.5;
    user-select: none;
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1rem;
      color: var(--gray-1);
      font-weight: 400;
      cursor: pointer;
    }

    &__list {
      width: 14rem;
      height: 265px;
      position: absolute;
      left: 50%;
      top: 40px;
      transform: translateX(-50%);
      overflow: hidden;
      animation-name: appearIn;
      animation-duration: 0.2s;
      animation-timing-function: linear;
      background-color: var(--background-1);
      border-radius: 2.9881px;
      border: 1.5px solid;
      border-color: var(--gray-4);
      z-index: 50;

      &__year {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--gray-1);
        
        .year__text {
          line-height: 14px;
          font-size: 14px;
        }

        .year__key {
          width: 3rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            cursor: pointer;
          }
        }

        .unvalid__key {
          opacity: 50%;
          width: 3rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
        }
      }
    }  
  }

  .date__elements {
    position: absolute;
    bottom: 0;
    transform: translateY(150%);
    animation-name: focusIn;
    animation-duration: .3s;
    animation-timing-function: ease;
  }
}

.container__focus {
  border-color: var(--primary);
  &:hover {
    border-color: var(--primary);
  }
}

.hidden {
  display: none;
}

@keyframes appearIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes focusIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
