@import '~styles/_mixin.scss';

.banner {
  position: relative;
  height: 27rem;
  width: 100%;
  min-width: 68.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 0px 20px 0px 20px;
  z-index: 0;
  overflow: hidden;

  &__image {
    position: absolute;
    height: 462px;
    width: 100%;
    background-image: url('/default/banner_img.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 5.1rem;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    z-index: 1;
  }

  &__desc {
    font-weight: 400;
    font-size: 1.23rem;
    line-height: 1.813rem;
    text-align: center;
    color: #ffffff;
    padding-top: 1.938rem;
    padding-bottom: 0px;
    margin: 0px;
    z-index: 1;
    &--bold {
      font-weight: bold;
    }
  }
}

@include tablet {
  .banner {
    position: relative;
    height: 27rem;
    width: 100%;
    min-width: 688px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 0px 20px 0px 20px;
  }
}

@include mobile {
  .banner {
    position: relative;
    height: 17.429rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    min-width: 25.714rem;
    padding: 0px 20px 0px 20px;

    &__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      padding: 0px;
      margin: 0px;
    }

    &__desc {
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1rem;
      text-align: center;
      color: #ffffff;
      padding-top: 1.571rem;
      padding-bottom: 0px;
      margin: 0px;
      &--bold {
        font-weight: bold;
      }
    }
  }
}
