@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';

.banner {
  position: relative;
  height: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 0 20px;
  margin-top: $header_height;
  z-index: 0;
  overflow: hidden;

  &__title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.012rem;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    z-index: 1;
  }

  &__desc {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    padding-top: 1.5rem;
    padding-bottom: 0px;
    margin: 0px;
    z-index: 1;
    &--bold {
      font-weight: 700;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

@include laptop {
  @media (max-width: 1075px) {
    .banner {
      width: 100%;
      height: 24rem;
      &__title {
        font-size: 2.75rem;
      }
    }
  }
  @media (max-width: 800px) {
    .banner {
      width: 100%;
      height: 22rem;
      &__title {
        font-size: 2.5rem;
        line-height: 1.2;
      }
      &__desc {
        font-size: 1rem;
      }
    }
  }
}

@include tablet {
  .banner {
    width: 100%;
    height: 22rem;
    &__title {
      font-size: 2.125rem;
      line-height: 1.2;
    }
    &__desc {
      font-size: 1rem;
    }
  }
  @media (max-width: 500px) {
    .banner {
      width: 100%;
      height: 20rem;
      &__title {
        font-size: 1.875rem;
        line-height: 1.2;
      }
      &__desc {
        font-size: 1rem;
      }
    }
  }
  @media (max-width: 400px) {
    .banner {
      &__title {
        font-size: 1.75rem;
        line-height: 1.2;
      }
      &__desc {
        font-size: 0.9rem;
      }
    }
  }
}

@include mobile {
  .banner {
    width: 100%;
    height: 18rem;
    &__title {
      font-size: 1.75rem;
      line-height: 1.2;
    }
    &__desc {
      font-size: 0.9rem;
    }
  }
}

.notice--true {
  margin-top: $header_height + 36px;
}

.notice--false {
  margin-top: $header_height;
}
