@import '~styles/_mixin.scss';
@import '~styles/variables.scss';

.banner {
  position: relative;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 0px 20px 0px 20px;
  margin-top: $header_height;
  z-index: 0;
  overflow: hidden;

  &__title {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 5.1rem;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    z-index: 1;
  }

  &__desc {
    font-weight: 400;
    font-size: 1.23rem;
    line-height: 1.813rem;
    text-align: center;
    color: #ffffff;
    padding-top: 1.938rem;
    padding-bottom: 0px;
    margin: 0px;
    z-index: 1;
    &--bold {
      font-weight: bold;
    }
  }
}

@include laptop {
  @media (max-width: 1075px)  {
    .banner {
      width: 100%;
      height: 28rem;
    }
  }
  @media (max-width: 800px) {
    .banner {
      width: 100%;
      height: 26rem;
      &__title {
        font-size: 3.4rem;
        padding-top: 1.75rem;
        line-height: 4.5rem;
      }
      &__desc {
        font-size: 1rem;
      }
    }
  }
}

@include tablet {
  .banner {
    width: 100%;
    height: 24rem;
    &__title {
      font-size: 3rem;
      padding-top: 2rem;
      line-height: 4rem;
    }
    &__desc {
      font-size: 1rem;
    }
  }
  @media (max-width: 500px) {
    .banner {
      width: 100%;
      height: 22rem;
      &__title {
        font-size: 2.3rem;
        padding-top: 3rem;
        line-height: 3rem;
      }
      &__desc {
        font-size: 1rem;
      }
    }
  }
  @media (max-width: 400px) {
    .banner {
      &__title {
        font-size: 2.1rem;
        padding-top: 3rem;
        line-height: 3rem;
      }
      &__desc {
        font-size: .9rem;
      }
    }
  }
}

@include mobile {
  .banner {
    width: 100%;
    height: 18rem;
    &__title {
      font-size: 2rem;
      padding-top: 2.7rem;
      line-height: 2.5rem;
    }
    &__desc {
      font-size: .9rem;
    }
  }
}

.notice--true {
  margin-top: $header_height + 36px;
}

.notice--false {
  margin-top: $header_height;
}
