$color-background: #002034;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 100vw;
  background-color: $color-background;

  &__inner {
    width: 1193px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 38.55px;
    height: 40.69px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .wrapper {
      padding-left: 24px;
    }

    .search-button {
      border: none;
      background-color: transparent;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  &__search {
    cursor: pointer;
    padding-left: 24px;
  }
}
