@import '~styles/_mixin.scss';

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 8.5rem;
  margin-right: .425rem;
  position: relative;
  user-select: none;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 0 1.125rem 0 1.125rem;
    font-size: 1rem;
    color: var(--gray-1);
    font-weight: 400;
    cursor: pointer;
    background-color: var(--background-1);
    border: 1.5px solid;
    border-color: var(--gray-4);
    box-sizing: border-box;
    border-radius: 2.9881px;
    &:hover {
      border-color: rgba(170, 184, 255, 1);
    }
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    animation-name: appearIn;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    max-height: 12rem;
    background-color: var(--background-1);
    border-radius: 2.9881px;
    border: 1.5px solid;
    border-color: var(--gray-4);
    z-index: 50;
    overflow-y: scroll;

    &__element {
      display: flex;
      justify-content: flex-start;
      padding-left: 1rem;
      align-items: center;
      width: 100%;
      height: 2.5rem;
      color: var(--gray-1);
      
      &:hover {
        cursor: pointer;
        background-color: var(--background-2);
      }
    }

    .selected__light {
      font-weight: 700;
      color: var(--primary);
      background-color: rgba(237, 239, 255, 1);
    }

    .selected__dark {
      font-weight: 700;
      color: var(--primary);
      background-color: rgba(34, 35, 38, 1);
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      width: 5px;
      border-radius: 4px;
      background-color: #c4c4c4;
    }

    &::-webkit-scrollbar-track {
      width: 5px;
      background-color: transparent;
    }
  }  
  .dropdown__header__focus {
    border-color: var(--primary);
  }
}

@include tablet {

}

@include mobile {

}

@keyframes appearIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}