@import '~styles/_mixin.scss';

.tag {
  margin-left: 6px;
  border: none;
  font-size: 12px;
  color: var(--primary);
  background-color: var(--background-2);
  height: 24px;
  padding: 0 8px;
  border-radius: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
