@import '~styles/_mixin.scss';

.tag {
  margin-left: 25px;
  border: none;
  font-size: 13px;
  margin-left: 5px;
  color: var(--primary);
  background-color: var(--background-2);
  width: 3.5rem;
  height: 1.7rem;
  border-radius: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@include mobile {
  .tag {
    border: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    width: 3rem;
    height: 1.4rem;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
