@import '~styles/_mixin.scss';

.tag__container {
  width: 75px;
  height: 27px;
  position: relative;

  .tag {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@include tablet {
  .tag__container {
    width: 60px;
    height: 20px;
    position: relative;

    .tag {
      position: absolute;
      top: 0;
      left: 0;
    }
  } 
}

@include mobile {
  .tag__container {
    width: 55px;
    height: 17px;
    position: relative;

    .tag {
      position: absolute;
      top: 0;
      left: 0;
    }
  } 
}