@import '~styles/_mixin.scss';
@import '~styles/_color.scss';

.tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  color: var(--gray-1);
  background-color: var(--gray-5);
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  margin-right: 8px;

  &.size--large {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.size--regular {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@include laptop {
  @media (max-width: 800px) {
    .tag {
      &.size--regular {
        font-size: 14px;
        line-height: 16px;
        padding: 3px 9px 3px 0px;
        border-radius: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &.type--default {
        color: var(--gray-2);
        border-radius: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
          content: '';
          display: block;
          border-right: 1px solid;
          border-color: var(--gray-4);
          height: 10px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.type--default--last {
        color: var(--gray-2);
        border-radius: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    }
  }
}

@include tablet {
  .tag {
    &.size--regular {
      font-size: 14px;
      line-height: 16px;
      padding: 3px 9px 3px 0px;
      border-radius: 3px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &.type--default {
      color: var(--gray-2);
      border-radius: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        display: block;
        border-right: 1px solid;
        border-color: var(--gray-4);
        height: 10px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.type--default--last {
      color: var(--gray-2);
      border-radius: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
}

@include mobile {
  .tag {
    &.size--regular {
      font-size: 14px;
      line-height: 16px;
      padding: 3px 9px 3px 0px;
      border-radius: 3px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &.type--default {
      color: var(--gray-2);
      border-radius: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        display: block;
        border-right: 1px solid;
        border-color: var(--gray-4);
        height: 10px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.type--default--last {
      color: var(--gray-2);
      border-radius: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
}
