@import '~styles/_mixin.scss';
@import '~styles/_color.scss';

.tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  color: var(--gray-1);
  background-color: var(--gray-5);
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  margin-right: 8px;

  &.size--large {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.size--regular {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@include tablet {
  .tag {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: none;
    color: var(--gray-1);
    background-color: var(--gray-5);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    margin: 4px 5px 0 0;

    &.size--large {
      font-size: 14px;
      line-height: 16px;
      padding: 4px 12px;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.size--regular {
      font-size: 14px;
      line-height: 16px;
      padding: 4px 12px;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@include mobile {
  .tag {
    display: block;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 11px 6px 11px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 20px;
    margin: 4px 5px 0 0;

    &.size--large {
      font-size: 14px;
      line-height: 16px;
      padding: 5px 6px;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.size--regular {
      font-size: 14px;
      line-height: 16px;
      padding: 5px 6px;
      border-radius: 4px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
