@import '~styles/_mixin.scss';
@import '~styles/_color.scss';

.tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  color: var(--gray-1);
  background-color: var(--gray-5);
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  margin-right: 5px;

  &.size--large {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.size--regular {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.type--location {
    color: var(--gray-2);
    border-radius: 0;
    background-color: transparent;
    display: flex;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 8px;
    margin-left: 8px;
    position: relative;

    &:after {
      content: "";
      display: block;
      border-right: 1px solid;
      border-color: var(--gray-4);
      height: 10px;
      padding: .5px 3px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      content: "";
      display: block;
      border-left: 1px solid;
      border-color: var(--gray-4);
      height: 10px;
      padding: .5px 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.type--jobGroup {
    color: var(--gray-1);
    background-color: transparent;
    border: 1px solid var(--gray-4);
  }
}

@include tablet {
  .tag.size--large {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 12px;
    height: 28px;
    border-radius: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tag.size--regular {
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    font-size: 13px;
    line-height: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tag {
      &.type--location {
      color: var(--gray-2);
      border-radius: 0;
      background-color: transparent;
      display: flex;
      padding-right: 8px;
      padding-left: 8px;
      margin-right: 8px;
      margin-left: 8px;
      position: relative;

      &:after {
        content: "";
        display: block;
        border-right: 1px solid;
        border-color: var(--gray-4);
        height: 10px;
        padding: .5px 3px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        content: "";
        display: block;
        border-left: 1px solid;
        border-color: var(--gray-4);
        height: 10px;
        padding: .5px 3px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
@include mobile {
  .tag.size--large {
    font-size: 13px;
    line-height: 16px;
    padding: 9px 15px;
    height: 34px;
    border-radius: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tag.size--regular {
    padding: 4.5px 7.5px;
    height: 20px;
    font-size: 11px;
    line-height: 12px;
    border-radius: 3px;
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tag {
    &.type--location {
      padding-left: 0;
    }
  }
}
