@import '~styles/_mixin.scss';

.tag {
  padding: 4px 16px;
  margin: 0.25rem .425rem;
  font-weight: 500;
  border: 1px solid rgba(49, 50, 52, 1);
  border-radius: 15px;

  &:hover {
    cursor: pointer;
    border-color: rgba(44, 76, 239, 1);
    color: rgba(44, 76, 239, 1);
    background-color: #EDEFFF;;
  }
}

.checked {
  border-color: rgba(44, 76, 239, 1);
  color: rgba(44, 76, 239, 1);
  background-color: #EDEFFF;
}

@include tablet {
  .tag {
    padding: 3px 12px;
    font-size: 1rem;
  }
}

@include mobile {
  .tag {
    padding: 2.5px 10px;
    font-size: .8rem;
  }
  @media (max-width: 360px) {
    .tag {
      padding: 2px 8px;
      font-size: .5rem;
    }
  }
}