@import '~styles/_mixin.scss';

.search__header {
  padding-top: 1.806rem;
  width: 68.75rem;
}

.section__list {
  padding-top: 2.813rem;
  width: 68.75rem;
}

.search__list {
  // padding-top: 1.406rem;
  width: 68.75rem;
}

.list__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.188rem;
  color: var(--gray-1);
  display: flex;
  flex-direction: row;
}

.null-container {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--gray-1);
}

.divider {
  border-top: 1px solid var(--gray-4);
}

@include laptop {
  .search__header {
    width: 68.75rem;
  }
  .section__list {
    width: 68.75rem;
  }
  .search__list {
    width: 68.75rem;
  }
  .divider {
    border-top: 1px solid var(--gray-4);
  }

  @media (max-width: 1075px) {
    .search__header {
      width: 58.75rem;
    }
    .section__list {
      width: 58.75rem;
    }
    .search__list {
      width: 58.75rem;
    }
  }
  .divider {
    border-top: 1px solid var(--gray-4);
  }

  @media (max-width: 950px) {
    .search__header {
      width: 50.75rem;
    }
    .section__list {
      width: 50.75rem;
    }
    .search__list {
      width: 50.75rem;
    }
    .divider {
      border-top: 1px solid var(--gray-4);
    }
  }

  @media (max-width: 800px) {
    .search__header {
      width: 42.75rem;
    }
    .section__list {
      margin-top: 2rem;
      width: 42.75rem;
    }
    .search__list {
      margin-top: 2rem;
      width: 42.75rem;
    }
    .divider {
      border-top: 1px solid var(--gray-4);
    }
  }
}

@include tablet {
  .search__header {
    width: 34.75rem;
    margin: 0 auto;
  }
  .section__list {
    width: 37.75rem;
    margin: 0 auto;
  }
  .search__list {
    width: 35.75rem;
    margin: 0 auto;
  }
  .list__title {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.188rem;
    color: var(--gray-1);
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 550px) {
    .search__header {
      width: 30.75rem;
    }
    .section__list {
      margin-top: 1.5rem;
      width: 34.75rem;
    }
    .search__list {
      margin-top: 1.5rem;
      width: 34.75rem;
    } 
  }
  @media (max-width: 500px) {
    .search__header {
      width: 26.75rem;
    }
    .section__list {
      margin-top: 1.5rem;
      width: 26.75rem;
    }
    .search__list {
      margin-top: 1.5rem;
      width: 26.75rem;
    } 
    .list__title {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2.188rem;
      color: var(--gray-1);
      display: flex;
      flex-direction: row;
    }
  }
  @media (max-width: 450px) {
    .search__header {
      width: 23.75rem;
    }
    .section__list {
      margin-top: 1.2rem;
      width: 23.75rem;
    }
    .search__list {
      margin-top: 1.2rem;
      width: 23.75rem;
    }
  }
}

@include mobile {
  .search__header {
    width: 22.75rem;
  }
  .section__list {
    margin-top: 1.2rem;
    width: 22.75rem;
  }
  .search__list {
    margin-top: 1.2rem;
    width: 22.75rem;
  }
  .list__title {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.188rem;
    padding-left: 1.4rem;
    color: var(--gray-1);
    display: flex;
    flex-direction: row;
  }
}