@import '~styles/_mixin.scss';

.search__header {
  padding-top: 1.806rem;
  display: flex;
  width: 100%;
}

.section__list {
  padding-top: 40px;
  padding-bottom: 6px;
  width: 100%;
}

.search__list {
  width: 100%;
}

.list__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.188rem;
  color: var(--gray-1);
  display: flex;
  flex-direction: row;
}

.total__count {
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--gray-2);
  margin-left: 1rem;
}

.null-container {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--gray-1);
}

.divider {
  border-top: 1px solid var(--gray-4);
}

.search__header__modal {
  margin-top: 16px;
}

@media (max-width: 1200px) {
  .section__list:last-child {
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .search__header__modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list__title {
    font-size: 20px;
  }

  .total__count {
    font-size: 16px;
    font-weight: 400;
  }
}

/*@include laptop {
  @media (max-width: 800px) {
    .search__header__modal {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .total__count {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      .list__title {
        font-weight: 590;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  @media (max-width: 700px) {
    .search__header__modal {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .total__count {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
      }
      .list__title {
        font-weight: 590;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

@include tablet {
  .search__header__modal {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .total__count {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-right: 2rem;
    }
    .list__title {
      font-weight: 590;
      font-size: 20px;
      line-height: 24px;
      margin-left: 2rem;
    }
  }
  @media (max-width: 550px) {
    .search__list {
      margin-top: 1.5rem;
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    .search__header__modal {
      padding: auto 1rem;
    }
    .list__title {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2.188rem;
      color: var(--gray-1);
      display: flex;
      flex-direction: row;
    }
  }
  @media (max-width: 450px) {
    .section__list {
      margin-top: 1.2rem;
      width: 100%;
    }
  }
}

@include mobile {
  .section__list {
    margin-top: 1.2rem;
    width: 100%;
  }
  .search__list {
    margin-top: 1.2rem;
    width: 100%;
  }
  .list__title {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.188rem;
    padding-left: 1.4rem;
    color: var(--gray-1);
    display: flex;
    flex-direction: row;
  }
  .search__header__modal {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .total__count {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    .list__title {
      font-weight: 590;
      font-size: 20px;
      line-height: 24px;
    }
  }
}*/
