@import '~styles/_mixin.scss';
@import '~styles/variables.scss';

.list {
  display: grid;
  grid-template-columns: 1fr;
}

.skeleton {
  //width: 270px;
}

@media (max-width: 1024px) {
  .list {
    margin-top: 24px;
    grid-template-columns: $image_width $image_width $image_width;
    grid-column-gap: 16px;
    grid-row-gap: 36px;
  }
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}

/*@include tablet {
  .skeleton {
    //width: 270px;
  }
  @media (max-width: 580px) {
    .skeleton {
      //width: 270px;
    }
  }
}

@include mobile {
  .skeleton {
    //width: 270px;
  }
}*/
