@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';

.list {
  display: grid;
  grid-template-columns: 1fr;

  &:last-child {
    margin-bottom: 60px;
  }
}

.skeleton {
  //width: 270px;
}

@media (max-width: 1024px) {
  .list {
    margin-top: 24px;
    grid-template-columns: $image_width $image_width $image_width;
    grid-row-gap: 36px;
    align-content: space-around;
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: $image_width-tablet $image_width-tablet;
  }
}

@media (max-width: 600px) {
  .list {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
}

/*@include tablet {
  .skeleton {
    //width: 270px;
  }
  @media (max-width: 580px) {
    .skeleton {
      //width: 270px;
    }
  }
}

@include mobile {
  .skeleton {
    //width: 270px;
  }
}*/
