$light-primary: rgba(44, 76, 239, 1);
$dark-primary: rgba(79, 108, 255, 1);

$light-background-1: rgba(255, 255, 255, 1);
$dark-background-1: rgba(13, 13, 13, 1);

$light-background-2: rgba(242, 242, 242, 1);
$dark-background-2: rgba(26, 26, 26, 1);

$light-gray-1: rgba(49, 50, 52, 1);
$dark-gray-1: rgba(203, 203, 206, 1);

$light-gray-2: rgba(116, 117, 121, 1);
$dark-gray-2: rgba(121, 122, 129, 1);

$light-gray-3: rgba(171, 172, 178, 1);
$dark-gray-3: rgba(81, 83, 88, 1);

$light-gray-4: rgba(211, 212, 216, 1);
$dark-gray-4: rgba(51, 52, 57, 1);

$light-gray-5: rgba(231, 232, 236, 1);
$dark-gray-5: rgba(34, 35, 38, 1);