$--tag-green: #6dc670;
$--tag-purple: #9867d7;
$--tag-skyblue: #5ea8ed;
$--tag-blue: #5d93e4;
$--tag-ultramarine: #667cf1;
$--tag-brown: #c6986d;
$--tag-lightOrange: #f1c36a;
$--tag-orange: #f0977b;
$--tag-red: #e17272;
$--tag-yellow: #ffe76b;
$--tag-pink: #de85d5;
$--tag-green: #589457;
