$mobile: 360px;
$tablet: 768px;
$laptop: 962.5px;

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$laptop - 1px}) {
    @content;
  }
}
