$header_height: 49px;

// 메인 여백
$laptop_padding: 48px;
$tablet_padding: 64px;
$mobile_padding: 20px;

$image_width: 344px;

$image_width-tablet: calc(100vw / 2 - $tablet_padding * 2);
$image_width-mobile: calc(100vw - $tablet_padding * 2);
