@use '/styles/Theme.scss' as *;
@import '~styles/_mixin.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  width: 100vw;
  min-width: 350px;
  overflow-x: hidden;
  background-color: var(--background-1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #a8a8a8;
}

.body__no__scroll {
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
