@import '~styles/_mixin.scss';

.banner {
  position: relative;
  height: 33rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  background-image: url('../public/default/banner_img.png');
  background-size: 100% 462px;
  min-width: 68.75rem;
  background-repeat: no-repeat;
  padding: 0px 20px 0px 20px;

  &__title {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 5.1rem;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
  }

  &__desc {
    font-weight: 400;
    font-size: 1.23rem;
    line-height: 1.813rem;
    text-align: center;
    color: #ffffff;
    padding-top: 1.938rem;
    padding-bottom: 0px;
    margin: 0px;
    &--bold {
      font-weight: bold;
    }
  }

  &__button {
    padding-top: 3.2rem;
  }
}

.section {
  width: 68.75rem;
  padding-bottom: 5.439rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__header {
    width: 68.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 2.688rem;
    margin: 0px;

    &__desc {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 1.23rem;
      line-height: 1.8rem;
      color: #0066c6;

      span {
        font-weight: 700;
      }
    }

    &__filters {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .wrapper {
        padding-left: 0.625rem;
      }
    }
  }

  .divider {
    margin-top: 1.813rem;
    border: 0px;
    border-top: 2px solid #e9e9e9;
    width: 100%;
  }

  &__list {
    padding-top: 1.813rem;
    width: 68.75rem;

    &__title {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2.188rem;
      color: #3b3b3b;
      display: flex;
      flex-direction: row;

      .reset-button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .reset-button:hover {
        background-color: #cecece;
      }
    }
    .wrapper {
      padding-top: 1.75rem;
    }
  }
}

.null-container {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #a8a8a8;
}

@include mobile {
  .banner {
    position: relative;
    height: 17.429rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    background-image: url('../public/default/banner_img.png');
    background-size: 100% 17.429rem + 3.5rem;
    min-width: 25.714rem;
    background-repeat: no-repeat;
    padding: 0px 20px 0px 20px;

    &__title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      padding: 0px;
      margin: 0px;
    }

    &__desc {
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 1rem;
      text-align: center;
      color: #ffffff;
      padding-top: 1.571rem;
      padding-bottom: 0px;
      margin: 0px;
      &--bold {
        font-weight: bold;
      }
    }

    &__button {
      padding-top: 2.357rem;
    }
  }

  .section {
    width: 100%;
    min-width: 25.714rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px 5.439rem 20px;
    &__header {
      min-width: 25.714rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-color: transparent;
      padding-top: 0.929rem;
      margin: 0px;

      &__desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 0.857rem;
        line-height: 1.214rem;
        color: #0066c6;

        span {
          font-weight: 700;
        }
      }

      &__filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: 0.357rem;
        .wrapper {
          padding-left: 0.714rem;
        }
      }
    }

    &__list {
      padding-top: 1.143rem;
      min-width: 25.714rem;
      width: 100%;

      &__title {
        font-weight: 700;
        font-size: 1rem;
        line-height: 20.27px;
        color: #3b3b3b;
        display: flex;
        flex-direction: row;
        align-items: center;
        .reset-button {
          height: 16px;
          width: 16px;
          border-radius: 50%;
          margin-left: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            height: 16px;
            width: 16px;
          }
        }
        .reset-button:hover {
          background-color: #cecece;
        }
      }
      &__items {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 540px) {
        &__items {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .wrapper {
        padding-top: 1.143rem;
        width: 100%;
      }
    }
  }

  .null-container {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #a8a8a8;
  }
}
