@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';

.main {
  margin: 0 auto;
  width: 100%;
  overflow-y: scroll;
}

.section {
  max-width: 1104px;
  padding-bottom: 5.439rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .main .section {
    padding: 0 $tablet_padding;
  }
}
