@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';

.main {
  margin: 0 auto;
  width: 100%;
  overflow-y: scroll;
  padding-top: 13px;
}

.section {
  max-width: $laptop_max_width;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .section {
    padding: 0 $tablet_padding;
  }
}

@include mobile {
  .section {
    padding: 0 20px;
  }
}
