@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';

.section {
  width: 100%; // 다음 카드에서
}

.section__list {
  max-width: 1080px;
  margin: 0 auto;
}

@include tablet {
  .section__list {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: $tablet_padding;
    padding-right: $tablet_padding;
  }
}

@include mobile {
  .section__list {
    max-width: 1080px;
    margin: 0 auto;

    padding-left: $mobile_padding;
    padding-right: $mobile_padding;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr;

  &:last-child {
    margin-bottom: 44px;
  }
}

@media (max-width: 1200px) {
  .list {
    margin-top: 24px;
    grid-template-columns: calc(33.3% - (40px / 3)) calc(33.3% - (40px / 3)) calc(
        33.3% - (40px / 3)
      );
    grid-row-gap: 36px;
    grid-column-gap: 20px;
    align-content: space-around;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 33.4px;
    }
  }
}

@media (max-width: 599px) {
  .list {
    margin-top: 20px;
    grid-column-gap: 4px;
    grid-template-columns: calc(50% - (4px / 2)) calc(50% - (4px / 2));
  }
}

// 상단
.sub-header {
  width: 100%;
  padding: 136px $laptop_padding 0;

  &__inner {
    max-width: 1080px; // '북마크' 가로 폭
    margin: 0 auto; // 가운데 정렬
    padding-top: 0 $laptop_padding;
    padding-bottom: 10px; // 내 이벤트 카드
  }

  h1 {
    padding-bottom: 10px; // 글자와 선 사이 간격
    border-bottom: 1px solid #d3d4d8;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: var(--light-Gray1, #313234);
    line-height: 120%;
    letter-spacing: -0.8px;
  }
}

.check_box {
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--light-Primary, #2c4cef);
  background: var(--light-Primary, #2c4cef);
}

.check_box_done {
  border-radius: 4px;
  border: 1.5px solid var(--light-Gray4, #d3d4d8) !important;
  background: var(--light-Primary, #2c4cef);
}

.wrapper {
  width: 1080px;

  &__status {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.28px;

    &__count {
      float: left;
      margin-right: 10px;
    }

    &__type {
      //float: left;
      display: flex;
    }

    &__txt {
      padding-left: 8px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.null-container {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--gray-1);
}

.emptyevent-container{
  display : flex;
  justify-content: center;
  align-items : center;
}

@include tablet {
  .sub-header {
    padding: 136px $tablet_padding 0;

    h1 {
      font-size: 27px;
    }
  }
}

@include mobile {
  .sub-header {
    padding: 136px $mobile_padding 0;

    h1 {
      font-size: 24px;
    }
  }
}
