@import '~styles/_mixin.scss';
@import '~styles/_variables.scss';
@import '~styles/_common.scss';

.section {
  width: 100%;

  &__list {
    max-width: 1080px;
    margin: 0 auto;

    @include tablet {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 $tablet-padding;
    }

    @include mobile {
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 $mobile-padding;
    }
  }
}

.list {
  @extend %grid-responsive;

  &:last-child {
    margin-bottom: 44px;

    @media (max-width: 1200px) {
      margin-bottom: 33.4px;
    }
  }

  @media (max-width: 1200px) {
    margin-top: 24px;
  }

  @media (max-width: 599px) {
    margin-top: 20px;
  }
}

// 상단 헤더
.sub-header {
  width: 100%;
  padding: 136px $laptop-padding 0;

  &__inner {
    max-width: 1080px;
    margin: 0 auto;
  }

  h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-4);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: var(--gray-1);
    line-height: 120%;
    letter-spacing: -0.8px;
  }

  @include tablet {
    padding: 136px $tablet-padding 0;

    h1 {
      font-size: 27px;
    }
  }

  @include mobile {
    padding: 136px $mobile-padding 0;

    h1 {
      font-size: 24px;
    }
  }
}

// 체크박스 스타일
.check_box {
  border-radius: 4px;
  @include flex-center;
  border: 1.5px solid var(--primary);
  background: var(--primary);

  &_done {
    border: 1.5px solid var(--gray-4) !important;
    background: var(--primary);
  }
}

// 래퍼 스타일
.wrapper {
  width: 1080px;

  &__status {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.28px;

    &__count {
      float: left;
      margin-right: 10px;
    }

    &__type {
      display: flex;
    }

    &__txt {
      padding-left: 8px;
      float: left;
      @include flex-center;
    }
  }
}

// 빈 상태 스타일
.null-container {
  height: 35vh;
  width: 100%;
  @include flex-center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--gray-1);
}

.emptyevent-container {
  @include flex-center;
}
