@use "/styles/_color.scss" as *;

html[data-theme="light"] {
  --primary: #{$light-primary};
  --background-1: #{$light-background-1};
  --background-2: #{$light-background-2};
  --gray-1: #{$light-gray-1};
  --gray-2: #{$light-gray-2};
  --gray-3: #{$light-gray-3};
  --gray-4: #{$light-gray-4};
  --gray-5: #{$light-gray-5};
}
  
html[data-theme="dark"] {
  --primary: #{$dark-primary};
  --background-1: #{$dark-background-1};
  --background-2: #{$dark-background-2};
  --gray-1: #{$dark-gray-1};
  --gray-2: #{$dark-gray-2};
  --gray-3: #{$dark-gray-3};
  --gray-4: #{$dark-gray-4};
  --gray-5: #{$dark-gray-5};
}