@import '~styles/_mixin.scss';
.list {
  .wrapper {
    padding-top: 1.75rem;
  }
}

@include mobile {
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 2%;
  }

  .wrapper {
    padding-top: 1.143rem;
    width: 49%;
  }

  @media (min-width: 605px) {
    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 2%;
    }
    .wrapper {
      width: 32%;
    }
  }
  @media (max-width: 360px) {
    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 4%;
    }
    .wrapper {
      width: 48%;
    }
  }
}
